<header>
    <button class="mainButton" (click)="expandButton()">
        <img class="img1" src="../../assets/three_lines.png" alt="">
    </button>

    <img class="img2" src="../../assets/logo.png" alt="" routerLink="/home">

    <div class="searchPlace">
        <input type="text" name="searchBar" id="" 
        placeholder="Search">
        <div class="searchIcon">
            <button type="submit" name="searchButton">
                <img src="../../assets/search_logo.png" alt="">
            </button>
        </div>
    </div>

    <div class="fourButtonRight">
        <img class="img3" src="../../assets/create_channel_logo.png" alt="" 
        routerLink="/upload">
        <img class="img4" src="../../assets/nine_square_logo.png" alt="">
        <img class="img5" src="../../assets/three_dots_logo.png" alt="">
        <div class="signInButton">
            <button type="submit" *ngIf="!loggedIn" (click)="signIn()">
                <img class="userLogo" src="../../assets/user_logo.png" alt="">
                SIGN IN
            </button>

            <img class="signInLogo" src="{{ photoUrl }}" alt="" 
            *ngIf="loggedIn" (click)="signOut()" routerLink="/">
        </div>
    </div>
</header>

<div [ngClass]="isExpanded" (click)="expandButton()">
    <div class="homeButton">
        <button routerLink="/">
            <img src="../../assets/home_icon.png" alt="">
            <li>
                Home
            </li>
        </button>
    </div>

    <div class="trendingButton">
        <button routerLink="/trending">
            <img src="../../assets/trending_icon.png" alt="">
            <li>
                Trending
            </li>
        </button>
    </div>

    <div class="subscriptionButton" >
        <button routerLink="/subscriptions">
            <img src="../../assets/subscription_icon.png" alt="">
            <li>
                Subscription
            </li>
        </button>
    </div>

    
    <div *ngIf="show">
        <div class="playlist" *ngFor="let p of playlists">
            <a href="/playlist/{{ p.playlist_id }}">
                <button>
                    <img src="../../assets/add_playlist_icon.png" alt="">
                    <li>
                        {{ p.playlist_title }}
                    </li>
                </button>
            </a>
        </div>

        <div class="categories">
            <hr>
            <div>
                CATEGORY
            </div>

            <div class="favMusic" >
                <button (click)="openCategoryPage(1)">
                    <img src="../../assets/music_fav_logo.png" alt="">
                    <li>
                        Music
                    </li>
                </button>
            </div>

            <div class="favGame">
                <button (click)="openCategoryPage(2)">
                    <img src="../../assets/game_fav_logo.png" alt="">
                    <li>
                        Game
                    </li>
                </button>
            </div>

            <div class="favNews">
                <button (click)="openCategoryPage(3)">
                    <img src="../../assets/news_fav_logo.png" alt="">
                    <li>
                        News
                    </li>
                </button>
            </div>

            <div class="favSport">
                <button (click)="openCategoryPage(4)">
                    <img src="../../assets/sport_fav_logo.png" alt="">
                    <li>
                        Sports
                    </li>
                </button>
            </div>

            <div class="favEnt">
                <button (click)="openCategoryPage(5)">
                    <img src="../../assets/entertainment_fav_logo.png" alt="">
                    <li>
                        Entertainment
                    </li>
                </button>
            </div>

            <div class="favTrv">
                <button (click)="openCategoryPage(6)">
                    <img src="../../assets/travel_fav_logo.png" alt="">
                    <li>
                        Travel
                    </li>
                </button>
            </div>

            <div class="m">
                <hr>
            </div>

            <div class="membership">
                <button routerLink="/membership">
                    <img src="../../assets/yt_premium_logo.png" alt="">
                    <li>
                        Membership
                    </li>
                </button>
            </div>

        </div>
    </div>


    <div class="linkSection">
        <div>
            <a href="https://www.youtube.com/about/">About</a>
            <a href="https://www.youtube.com/howyoutubeworks/policies/copyright/">Copyright</a>
        </div>
        <div>
            <a href="https://www.youtube.com/t/terms">Terms</a>
            <a href="https://www.youtube.com/t/contact_us">Contact Us</a>
        </div>
    </div>
</div>
