<header>
    <button class="mainButton" (click)="expandButton()">
        <img class="img1" src="../../assets/three_lines.png" alt="">
    </button>

    <img class="img2" src="../../assets/logo.png" alt="" routerLink="/home">

    <div class="searchPlace">
        <input type="text" name="searchBar" id="searchBar" 
        placeholder="Search">
        <div class="searchIcon">
            <button type="submit" name="searchButton" (click)="search()">
                <img src="../../assets/search_logo.png" alt="">
            </button>
        </div>
    </div>

    <div class="fourButtonRight">
        <img class="img3" src="../../assets/create_channel_logo.png" alt="" 
        routerLink="/upload" *ngIf="loggedIn">
        <img class="img4" src="../../assets/notification_logo.png" alt="" *ngIf="loggedIn">
        <img class="img5" src="../../assets/three_dots_logo.png" alt="" *ngIf="!loggedIn"
        (click)="settingToggle(0)">
        <div class="signInButton">
            <button type="submit" *ngIf="!loggedIn" (click)="signIn()">
                <img class="userLogo" src="../../assets/user_logo.png" alt="">
                SIGN IN
            </button>

            <img class="signInLogo" src="{{ photoUrl }}" alt="" 
            *ngIf="loggedIn" (click)="settingToggle(1)">
        </div>
    </div>
</header>

<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeLoginModal()">&times;</span>
        <h1>Sign in to your account</h1>
        <div>
            Email
            <input type="email" id="email" placeholder="Input your email">
        </div>
        <div>
            Password
            <input type="password" id="password" placeholder="Input your password">
        </div>
        <button >Login</button>

        <div class="register">
            Don't have any account? 
            <a>Register Now</a>
        </div>

        <hr>

        <div class="signInWithGoogle">
            <button (click)="signInWithGoogle()">
                <img src="../../assets/google_logo.png" alt="">
                Sign In With Google
            </button>
        </div>
    </div>
</div>

<div id="settingModal" *ngIf="isClicked" [style.right]="rightTemp == 1? '1.16%' : '8.7%'">
    <div id="modal-content2">
        <div *ngIf="logged" class="def">

            <div class="my-channel">
                <img [src]="photoUrl" alt="">
                <div>
                    {{ loggedUser.channel_name }}
                </div>
            </div>

            <hr>

            <div class="change-acc" (click)="signOut()">
                <img src="../../assets/change_account.png" alt="">
                <div>
                    Switch Account
                </div>
            </div>

            <div class="view-premium" routerLink="/membership" (click)="closeSetting()">
                <img src="../../assets/membership_icon.png" alt="">
                <div>
                    View Premium Membership
                </div>
            </div>

            <div class="view-channel" routerLink="/channel/{{loggedUser.channel_id}}" (click)="closeSetting()">
                <img src="../../assets/my_channel_logo.png" alt="">
                <div>
                    My Channel
                </div>
            </div>

            <div class="location" (click)="choose(1)">
                <img src="../../assets/website_logo.png" alt="">
                <div>
                    Location: {{location}}
                </div>
            </div>
            <div class="keyboard" (click)="choose(2)">
                <img src="../../assets/keyboard_icon.png" alt="">
                <div>
                    Keyboard shortcuts
                </div>
            </div>
    
            <hr>
    
            <div class="restrict" (click)="choose(3)">
                Restricted Mode: {{restrict}}
            </div>

        </div>


        <div *ngIf="isDefault" class="def">
            <div class="location" (click)="choose(1)">
                <img src="../../assets/website_logo.png" alt="">
                <div>
                    Location: {{location}}
                </div>
            </div>
            <div class="keyboard" (click)="choose(2)">
                <img src="../../assets/keyboard_icon.png" alt="">
                <div>
                    Keyboard shortcuts
                </div>
            </div>
    
            <hr>
    
            <div class="restrict" (click)="choose(3)">
                Restricted Mode: {{restrict}}
            </div>
        </div>

        <div *ngIf="flag==1" class="loc">
            <div class="topR">
                <img src="../../assets/arrow_left.png" alt="" (click)="choose(0)">
                <div>
                    Choose your location
                </div>
            </div>
            
            <hr>
            
            <div class="indo" (click)="setLocation(1)">
                Indonesia
            </div>
            <div class="jpn" (click)="setLocation(2)">
                Japan
            </div>
            <div class="kor" (click)="setLocation(3)">
                South Korea
            </div>
        </div>


        <div *ngIf="flag==3" class="res">
            <div class="topR">
                <img src="../../assets/arrow_left.png" alt="" (click)="choose(0)">
                <div>
                    Restricted Mode
                </div>
            </div>

            <hr>

            <div class="short-desc">This helps hide potentially mature videos. 
                No filter is 100% accurate.
            </div>

            <div class="additional-desc">
                This setting only applies to this browser.
            </div>

            <div class="togs">
                <div>
                    ACTIVATE RESTRICTED MODE
                </div>
                <label class="switch">
                    <input type="checkbox" [checked]="isRestrict">
                    <span class="slider round" (click)="res()"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="isExpanded" (click)="expandButton()">
    <div class="homeButton">
        <button routerLink="/">
            <img src="../../assets/home_icon.png" alt="">
            <li>
                Home
            </li>
        </button>
    </div>

    <div class="trendingButton">
        <button routerLink="/trending">
            <img src="../../assets/trending_icon.png" alt="">
            <li>
                Trending
            </li>
        </button>
    </div>

    <div class="subscriptionButton" >
        <button routerLink="/subscriptions">
            <img src="../../assets/subscription_icon.png" alt="">
            <li>
                Subscription
            </li>
        </button>
    </div>

    
    <div *ngIf="show" class="a">
        <div class="playlist" *ngFor="let p of playlists">
            <a href="/playlist/{{ p.playlist_id }}">
                <button>
                    <img src="../../assets/add_playlist_icon.png" alt="">
                    <li>
                        {{ p.playlist_title }}
                    </li>
                </button>
            </a>

        </div>
        <div class="playlist" *ngIf="tempLength > 5">
            <a (click)="expand()">
                <button>
                    <li *ngIf="isExpand == false">
                        Show All Playlists
                    </li>
                    <li *ngIf="isExpand == true">
                        Hide Playlists
                    </li>
                </button>
            </a>
        </div>
        
        <hr>
        <div class="subscribedCh" *ngFor="let s of subsCh; index as i">
            <hr *ngIf="i == 0">
            <a href="/channel/{{ tempCh[i].channel_id }}">
                <button>
                    <img src="{{ tempCh[i].channel_icon }}" alt="">
                    <li>
                        {{ tempCh[i].channel_name }}
                    </li>
                </button>
            </a>
            <div *ngIf="tempLength2 != i+1"></div>
        </div>

        <div class="subscribedCh" *ngIf="tempLength2 > 10">
            <a (click)="expand()">
                <button>
                    <li *ngIf="isExpand == false">
                        Show All Channel
                    </li>
                    <li *ngIf="isExpand == true">
                        Hide Playlists
                    </li>
                </button>
            </a>
        </div>

        <div class="categories">
            <hr>
            <div>
                CATEGORY
            </div>

            <div class="favMusic" >
                <button (click)="openCategoryPage(1)">
                    <img src="../../assets/music_fav_logo.png" alt="">
                    <li>
                        Music
                    </li>
                </button>
            </div>

            <div class="favGame">
                <button (click)="openCategoryPage(2)">
                    <img src="../../assets/game_fav_logo.png" alt="">
                    <li>
                        Game
                    </li>
                </button>
            </div>

            <div class="favNews">
                <button (click)="openCategoryPage(3)">
                    <img src="../../assets/news_fav_logo.png" alt="">
                    <li>
                        News
                    </li>
                </button>
            </div>

            <div class="favSport">
                <button (click)="openCategoryPage(4)">
                    <img src="../../assets/sport_fav_logo.png" alt="">
                    <li>
                        Sports
                    </li>
                </button>
            </div>

            <div class="favEnt">
                <button (click)="openCategoryPage(5)">
                    <img src="../../assets/entertainment_fav_logo.png" alt="">
                    <li>
                        Entertainment
                    </li>
                </button>
            </div>

            <div class="favTrv">
                <button (click)="openCategoryPage(6)">
                    <img src="../../assets/travel_fav_logo.png" alt="">
                    <li>
                        Travel
                    </li>
                </button>
            </div>

            <div class="m">
                <hr>
            </div>

            <div class="membership">
                <button routerLink="/membership">
                    <img src="../../assets/yt_premium_logo.png" alt="">
                    <li>
                        Membership
                    </li>
                </button>
            </div>

        </div>
    </div>


    <div class="linkSection">
        <div>
            <a href="https://www.youtube.com/about/">About</a>
            <a href="https://www.youtube.com/howyoutubeworks/policies/copyright/">Copyright</a>
        </div>
        <div>
            <a href="https://www.youtube.com/t/terms">Terms</a>
            <a href="https://www.youtube.com/t/contact_us">Contact Us</a>
        </div>
    </div>

    
</div>
