$textColor : white;
$isExpanded : 1;

$bg : rgb(27, 27, 27);

@mixin sideButtonProperty {
    font-size: 0.7vw;
    font-family: Arial, Helvetica, sans-serif;

    opacity: 50%;

    background-color: $bg;
    color: $textColor;

    position: absolute;
    width: 100%;
    height: 4.9vw;

    justify-content: center;
    align-items: start;

    outline: none;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: rgb(75, 75, 75);
    }

    &:focus{
        background-color: rgb(75, 75, 75);
        opacity: 100%;
    }
    
}


*{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h1{
    color: black;
}

h2{
    color: $bg;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: row;
    height: 55px;
    // height: 3.6vw;
    background-color: rgb(27, 27, 27);
    // background-color: red;

    .mainButton{
        flex-direction: row;
        
        margin-left: 1.4vw;
        margin-right: 1.4vw;
        border: none;
        outline: none;
        cursor: pointer;
        
        width: 2vw;
        
        height: 2.2vw;
        // background-color: blue;

        
        .img1{
            background-color: rgb(27, 27, 27);
            // background-color: red;
            width: 100%;
            height: 100%;
        }

    }
    
    .img2{  
        // width: 100px;
        width: 6.5vw;
        // height: 50px;
        height: 3vw;

        cursor: pointer;

        &:focus{
            outline: none;
        }
    }

    .searchPlace{
        flex-direction: row;
        input{
            justify-content: start;
            color: $textColor;
            margin-left: 17vw;
            padding-left: 0.7vw;
            color: gray;
            border: 0.06vw solid rgb(48, 48, 48);
            background-color: black;
            height: 1.7vw;
            width: 36vw;

            border-top-left-radius: 0.17vw;
            border-bottom-left-radius: 0.17vw;

            font-size: 1vw;

            &:focus{
                color: white;
            }
        }

        .searchIcon{
            button{
                justify-content: center;
                background-color: rgb(44, 44, 44);
                border: none;
                border-top-right-radius: 0.17vw;
                border-bottom-right-radius: 0.17vw;
                height: 1.75vw;
                width: 4vw;
                cursor: pointer;
                outline: none;

            }
            img{
                width: 0.9vw;
                height: 0.9vw;
            }

            &:hover{
                img{
                    filter: opacity(50%);
                }
            }
            
        }

    }

    .fourButtonRight{
        flex-direction: row;
        justify-content: end;

        .img3{
            margin-left: 13vw;
            width: 4vw;
            height: 2.3vw;

            cursor: pointer;

            &:focus{
                outline: none;
            }
        }

        .img4{
            margin-left: 0.6vw;
            
            width: 1.2vw;
            height: 1.2vw;
        }

        .img5{
            margin-left: 1.6vw;
            width: 0.65vw;
            height: 1.4vw;

            &:hover{
                cursor: pointer;
            }
        }

        .signInButton{
            margin-left: 1.3vw;

            button{
                flex-direction: row;
                color: rgb(15, 148, 224);

                font-size: 0.9vw;

                font-weight: bold;
                height: 2.4vw;
                width: 6vw;
                background-color: rgb(27, 27, 27);
                border: 0.01vw solid rgb(0, 138, 218);
                border-radius: 0.2vw;
                cursor: pointer;

                &:focus{
                    outline: none;
                    animation: ease-in-out;
                }
            }
            
            .userLogo{
                margin-left: 0.4vw;
                margin-right: 0.2vw;
                width: 1.55vw;
                height: 1.5vw;
            }

            .signInLogo{


                width: 2vw;
                height: 2vw;

                border-radius: 1vw;

                cursor: pointer;
            }
        }
    }  

    
}

.modal {
    align-items: center;
    justify-content: center;
    display: block;
    // display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(22, 22, 22, 0.4);
 
    overflow-y: none;
    
    .modal-content{
        background-color: black;
        margin: 15% auto;
        padding: 20px;
        width: 40%;

        align-items: center;
        justify-content: start;

        border-radius: 1vw;

        // opacity: 70%;

        font-family: Arial, Helvetica, sans-serif;

        h1{
            color: white;
            font-weight: bold;
        }

        div{
            width: 60%;
            justify-content: space-between;
            color: white;
            flex-direction: row;

            margin-bottom: 1vw;
        }

        input{
            width: 15vw;
            height: 2vw;

            padding: 0.3vw;

            border-radius: 0.2vw;
            border-style: none;
        }
        

        button{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: rgb(61, 61, 61); 
            color: white;

            margin-top: 1vw;

            border: none;

            width: 15vw;
            height: 3vw;

            cursor: pointer;

            border-radius: 0.17vw;

            &:hover{
                background-color: rgb(43, 43, 43); 

                img, li{
                    background-color: rgb(43, 43, 43); 
                }
            }

            img{
                width: 3vw;
                height: 3vw;
                background-color: rgb(61, 61, 61);
            }

            li{
                background-color: rgb(61, 61, 61);
            }
        }

        .close{
            // position: fixed;
            color: white;
            background-color: black;
            font-size: 28px;
            font-weight: bold;
            margin-left: 30vw;
            cursor: pointer;
        }

        .register{
            margin-top: 0.4vw;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            font-size: 0.87vw;

            a{
                margin-left: 0.4vw;
                text-decoration: none;

                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }

                color: rgb(56, 117, 250);
                // margin-top: 0.08vw;
            }
        }

        hr{
            width: 50%;
            border-width: 0.002vw;
            border-color: gray;
        }

        .signInWithGoogle{
            flex-direction: column;

            button{
                box-shadow: 0.2vw;
                background-color: white;
                color: gray;
                font-weight: bold;


                &:hover{
                    background-color: rgb(46, 112, 255);
                    color: white;

                    img{
                        background-color: rgb(46, 112, 255);
                    }
                }

                img{
                    background-color: white;

                    margin-right: 1vw;

                    width: 2vw;
                    height: 2vw;
                }
            }
        }
    }
}

.sideBar{
    position: fixed;
    left: 0;
    top: 3.6vw;
    // height: 100vw;
    height: 100%;

    width: 4.7vw;
    background-color: $bg;


    // background-color: red;

    flex-direction: column;

    color: $textColor; 

    a{
        font-size: 0;
    }
}

.homeButton{
    top: 0;
    
    button{
        @include sideButtonProperty();
    }

    img{
        width: 1.3vw;
        height: 1.2vw;
        margin-left: 1.7vw;
        margin-bottom: 0.7vw;
    }

    li{
        margin-left: 1.4vw;
    }

}

.trendingButton{
    margin-top: 4.9vw;

    button{
        @include sideButtonProperty();
    }

    img{
        width: 1.1vw;
        height: 1.4vw;
        margin-left: 1.8vw;
        margin-bottom: 0.7vw;
    }

    li{
        margin-left: 1vw;
    }
}

.subscriptionButton{
    
    margin-top: 4.9vw;

    button{
        @include sideButtonProperty();
    }

    img{
        width: 1.6vw;
        height: 1.6vw;
        margin-left: 1.5vw;
    }

    li{
        margin-left: 0.4vw;
    }
}

.playlist{
    margin-top: 4.9vw;

    button{
        @include sideButtonProperty();
    }

    img{
        width: 1.6vw;
        height: 1.6vw;
        margin-left: 1.6vw;
    }

    li{
        margin-left: 1.1vw;
    }
}

.sideBarExpanded{
    @extend .sideBar;
    width: 15.6vw;

    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 0.6vw;
    }
    &::-webkit-scrollbar-track{
        background-color: $bg;
    }
    &::-webkit-scrollbar-thumb{
        background: rgb(80, 80, 80);
    }

    .homeButton{
        li{
            margin-left: 1.5vw;
        }
        
        img{
            opacity: 70%;
        }
    }

    .trendingButton{
        margin-top: 4.9vw;
        li{
            margin-left: 1.5vw;
        }

        img{
            opacity: 70%;
        }
    }

    .subscriptionButton{
        
        margin-top: 4.9vw;
        li{
            margin-left: 1.3vw;
        }

        img{
            opacity: 70%;
        }
    }

    .playlistButton{
        
        margin-top: 4.9vw;
        li{
            margin-left: 1vw;
        }

        img{
            opacity: 70%;
        }
    }

    button{
        @include sideButtonProperty();
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        opacity: 75%;

    }
    
    li{
        font-size: 0.95vw;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        
    }

    .linkSection{
        margin-top: 6vw;
        margin-bottom: 10vw;

        flex-direction: row;

        a{
            font-size: 0.8vw;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            
            margin-left: 0.7vw;
            color: rgb(138, 138, 138);
            text-decoration: none;
        }
    }


}


.categories{
    flex-direction: column;
    margin-right: 8vw;
    margin-left: 4.3vw;
    margin-top: 5vw;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9vw;
    width: 100vw;

    h1{
        color: white;
    }

    div{
        margin-top: 1vw;
    }

    hr{
        color: rgb(100, 100, 100);
        border-width: 0.1px;
        width: 100%;
        opacity: 20%;
    }

    .m{
        @extend hr;
        opacity: 100%;
        margin-top: 24.7vw;
        margin-bottom: 0;
    }
}

.favMusic{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 4.3vw;
        margin-top: 0;
        opacity: 70%;
    }

    img{
        width: 3vw;
        height: 2.2vw;
        margin-left: 0.5vw;
    }

    li{
        color: white;
        font-size: 1vw;
        margin-left: 1vw;
    }
}

.favGame{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 4.3vw;
        margin-top: 3.9vw;
        opacity: 70%;
    }

    img{
        width: 3vw;
        height: 2.2vw;
        margin-left: 0.5vw;
    }

    li{
        color: white;
        font-size: 1vw;
        margin-left: 1vw;
    } 
}

.favNews{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 4.3vw;
        margin-top: 7.8vw;
        opacity: 70%;
    }

    img{
        width: 3vw;
        height: 2.2vw;
        margin-left: 0.5vw;
    }

    li{
        color: white;
        font-size: 1vw;
        margin-left: 1vw;
    } 
}

.favSport{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 4.3vw;
        margin-top: 11.7vw;
        opacity: 70%;
    }

    img{
        width: 3vw;
        height: 2.2vw;
        margin-left: 0.5vw;
    }

    li{
        color: white;
        font-size: 1vw;
        margin-left: 1vw;
    } 
}

.favEnt{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 4.3vw;
        margin-top: 15.6vw;
        opacity: 70%;
    }

    img{
        width: 3vw;
        height: 2.2vw;
        margin-left: 0.5vw;
    }

    li{
        color: white;
        font-size: 1vw;
        margin-left: 1vw;
    } 
}

.favTrv{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 4.3vw;
        margin-top: 19.5vw;
        opacity: 70%;
    }

    img{
        width: 3vw;
        height: 2.2vw;
        margin-left: 0.5vw;
    }

    li{
        color: white;
        font-size: 1vw;
        margin-left: 1vw;
    } 
}


.membership{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 4.3vw;
        margin-top: 0;
        opacity: 70%;
    }

    img{
        width: 3vw;
        height: 2.2vw;
        margin-left: 0.5vw;
    }

    li{
        color: white;
        font-size: 1vw;
        margin-left: 1vw;
    } 
}
