$textColor : white;
$isExpanded : 1;

$bg : rgb(27, 27, 27);

@mixin sideButtonProperty {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;

    opacity: 50%;

    background-color: $bg;
    color: $textColor;

    position: absolute;
    width: 100%;
    // height: 4.9vw;
    height: 75px;

    justify-content: center;
    align-items: start;

    outline: none;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: rgb(75, 75, 75);

        animation: show 0.7s;
        
    }

    &:focus{
        background-color: rgb(75, 75, 75);
        opacity: 100%;
    }

    
}

@keyframes show{
    0%{
        background-color: $bg;
    }
    100%{
        background-color: rgb(75, 75, 75);
    }
}


*{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h1{
    color: black;
}

h2{
    color: $bg;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: row;
    height: 55px;
    // height: 3.6vw;
    background-color: rgb(27, 27, 27);
    // background-color: red;

    .mainButton{
        flex-direction: row;
        
        margin-left: 21px;
        margin-right: 21px;
        border: none;
        outline: none;
        cursor: pointer;
        
        // background-color: red;

        .img1{
            background-color: rgb(27, 27, 27);
            width: 32px;
        
            height: 32px;
        }

    }
    
    .img2{  
        width: 100px;
        // width: 6.5vw;
        height: 50px;
        // height: 3vw;

        cursor: pointer;

        &:focus{
            outline: none;
        }
    }

    .searchPlace{
        flex-direction: row;
        input{
            justify-content: start;
            color: $textColor;
            margin-left: 250px;
            padding-left: 10px;
            color: gray;
            border: 0.06vw solid rgb(48, 48, 48);
            background-color: black;
            height: 27px;
            width: 550px;

            border-top-left-radius: 0.17vw;
            border-bottom-left-radius: 0.17vw;

            font-size: 15px;

            &:focus{
                color: white;
            }
        }

        .searchIcon{
            button{
                justify-content: center;
                background-color: rgb(44, 44, 44);
                border: none;
                border-top-right-radius: 0.17vw;
                border-bottom-right-radius: 0.17vw;
                height: 27px;
                width: 55px;
                cursor: pointer;
                outline: none;

            }
            img{
                width: 13px;
                // height: 0.9vw;
            }

            &:hover{
                img{
                    filter: opacity(50%);
                }
            }
            
        }

    }

    .fourButtonRight{
        position: fixed;
        right: 0;
        flex-direction: row;
        justify-content: end;

        margin-right: 25px;

        .img3{
            width: 60px;
            height: 35px;

            cursor: pointer;

            &:focus{
                outline: none;
            }
        }

        .img4{
            margin-left: 8px;
            
            width: 20px;
        }

        .img5{
            margin-left: 16px;
            width: 9px;
            height: 21px;

            &:hover{
                cursor: pointer;
            }
        }

        .signInButton{
            margin-left: 20px;

            button{
                flex-direction: row;
                color: rgb(15, 148, 224);

                font-size: 13px;

                font-weight: bold;
                height: 40px;
                width: 87px;
                background-color: rgb(27, 27, 27);
                border: 0.01vw solid rgb(0, 138, 218);
                border-radius: 0.2vw;
                cursor: pointer;

                &:focus{
                    outline: none;
                    animation: ease-in-out;
                }
            }
            
            .userLogo{
                margin-left: 6px;
                margin-right: 3px;
                width: 24px;
            }

            .signInLogo{


                width: 30px;
                // height: 2vw;

                border-radius: 20px;

                cursor: pointer;
            }
        }
    }  

    
}

.modal {
    align-items: center;
    justify-content: center;
    // display: block;
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(22, 22, 22, 0.4);
    
    .modal-content{
        background-color: black;
        margin: 15% auto;
        padding: 20px;
        width: 40%;

        align-items: center;
        justify-content: start;

        border-radius: 1vw;

        // opacity: 70%;

        font-family: Arial, Helvetica, sans-serif;

        h1{
            color: white;
            font-weight: bold;
            margin-bottom: 2vw;
        }

        div{
            width: 60%;
            justify-content: space-between;
            color: white;
            flex-direction: row;

            margin-bottom: 1vw;
        }

        input{
            width: 15vw;
            height: 2vw;

            padding: 0.3vw;

            border-radius: 0.2vw;
            border-style: none;
        }
        

        button{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: rgb(61, 61, 61); 
            color: white;

            margin-top: 1vw;

            border: none;

            width: 15vw;
            height: 3vw;

            cursor: pointer;

            border-radius: 0.17vw;

            &:hover{
                background-color: rgb(43, 43, 43); 

                img, li{
                    background-color: rgb(43, 43, 43); 
                }
            }

            img{
                width: 3vw;
                height: 3vw;
                background-color: rgb(61, 61, 61);
            }

            li{
                background-color: rgb(61, 61, 61);
            }
        }

        .close{
            // position: fixed;
            color: white;
            background-color: black;
            font-size: 28px;
            font-weight: bold;
            margin-left: 30vw;
            cursor: pointer;
        }

        .register{
            margin-top: 0.4vw;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            font-size: 0.87vw;

            a{
                margin-left: 0.4vw;
                text-decoration: none;

                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }

                color: rgb(56, 117, 250);
                // margin-top: 0.08vw;
            }
        }

        hr{
            width: 50%;
            border-width: 0.002vw;
            border-color: gray;
        }

        .signInWithGoogle{
            flex-direction: column;

            button{
                box-shadow: 0.2vw;
                background-color: white;
                color: gray;
                font-weight: bold;


                &:hover{
                    background-color: rgb(46, 112, 255);
                    color: white;

                    img{
                        background-color: rgb(46, 112, 255);
                    }
                }

                img{
                    background-color: white;

                    margin-right: 1vw;

                    width: 2vw;
                    height: 2vw;
                }
            }
        }
        animation: popup 1s;
    }

    overflow: hidden;

}

@keyframes popup {
    0%{
      transform: scale(0.9);
      opacity: 50%;
    }
    100%{
      transform: scale(1);
      opacity: 100%;
    }
}

@keyframes fading{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

#settingModal{
    background-color: rgb(27, 27, 27);
    position: fixed;
    // right: 8.7%;

    z-index: 1;

    // height: 55px;

    top: 55px;

    border: 1px solid rgb(104, 104, 104);
    border-top: none;


    display: flex;

    width: 300px;

    color: white;


    img{
        width: 23px;
        height: 23px;

        opacity: 50%;
    }

    #modal-content2{

        animation: fading 1.8s;
        font-family: Arial, Helvetica, sans-serif;

        margin: 0;

        align-self: start;
        justify-content: start;

        position: relative;

        width: 100%;
        
        .def{
            margin: 0;
            
            width: 100%;

            .location, .keyboard, .restrict, 
            .my-channel, .view-channel, .change-acc,
            .view-premium{
                flex-direction: row;
                justify-content: start;
    
                font-size: 1.01em;
    
                position: relative;
                width: 100%;
                height: 40px;
    
                margin-top: 2px;
    
                padding-left: 15px;
    
                div{
                    margin-left: 15px; 
                }
    
                &:hover{
                    background-color: rgb(71, 71, 71);
    
                    img{
                        background-color: rgb(71, 71, 71);
                    }
    
                    cursor: pointer;
                }
    
                &:active{
                    background-color: rgb(51, 51, 51);
    
                    img{
                        background-color: rgb(51, 51, 51);
                    }
                }
            }

            .change-acc{
                img{
                    width: 25px;
                }
                div{
                    margin-left: 12px;
                }
            }

            .view-premium{
                padding-left: 10px;
                img{
                    width: 35px;
                    height: 35px;

                }
                div{
                    margin-left: 7px;
                }
            }

            .my-channel{
                margin-top: 7px;
                padding-left: 8px;
                img{
                    width: 40px;
                    height: 40px;
                    opacity: 1;
                    border-radius: 20px;
                }
                &:hover{
                    background-color: rgb(27, 27, 27);
                    img{
                        background-color: rgb(27, 27, 27);
                    }
                    cursor: unset;
                }

                &:active{
                    background-color: rgb(27, 27, 27);
                    img{
                        background-color: rgb(27, 27, 27);
                    }
                }

                
            }

            .location{
                margin-top: 8px;
            }
            .restrict{
                margin-top: 10px;
            }
    
            hr{
                width: 100%;
                border: none;
                border-top: 1px solid rgb(104, 104, 104);
                margin-top: 10px;
                
            }

        }


        .res, .loc{
            img{
                cursor: pointer;
            }

            align-items: start;

            width: 100%;

            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.01em;
            color: rgb(226, 226, 226);

            .topR{
                margin-left: 15px;
                margin-top: 10px;

                align-items: center;
                justify-content: center;

                img{
                    width: 18px;
                    height: 18px;
                }
                

                flex-direction: row;
                justify-content: space-between;

                div{
                    margin-left: 15px;
                    margin-top: 1px;

                    font-size: 1.1em;
                }
            }

            hr{
                margin-top: 10px;

                width: 100%;

                border: none;
                border-top: 1px solid white;

                opacity: 20%;
            }

            .short-desc, .additional-desc{
                // background-color: white;
                width: 90%;

                margin-top: 10px;

                margin-left: 15px;
            }

            .additional-desc{
                margin-left: 5px;
            }

            .togs{
                flex-direction: row;

                margin-top: 23px;
                div{
                    margin-left: 15px;

                    color: rgb(155, 155, 155);

                }
            }

            .switch {
                margin-left: 10px;

                position: relative;
                display: inline-block;
                width: 35px;
                height: 20px;

                input{
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
            }
            
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;

                &:before{
                    position: absolute;
                    content: "";
                    height: 13px;
                    width: 13px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
            }
              
            input:checked + .slider {
                background-color: #2196F3;
            }
              
            input:focus + .slider {
                box-shadow: 0 0 1px #2196F3;
            }
              
            input:checked + .slider:before {
                -webkit-transform: translateX(16px);
                -ms-transform: translateX(16px);
                transform: translateX(16px);
            }
            
            .slider.round {
                border-radius: 34px;
            }
              
            .slider.round:before {
                border-radius: 50%;
            }

        }

    }

    .kor, .indo, .jpn{
        // background-color: red;
        align-items: start;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.01em;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;

        &:hover{
            background-color: rgb(71, 71, 71);

            cursor: pointer;
        }

        &:active{
            background-color: rgb(51, 51, 51);
        }
    }
}



.sideBar{
    position: fixed;
    left: 0;
    top: 55px;
    // height: 100vw;
    height: 100%;

    width: 72px;
    background-color: $bg;


    // background-color: red;

    flex-direction: column;

    color: $textColor; 

    a{
        font-size: 0;
    }
}

.homeButton{
    top: 0;
    
    button{
        @include sideButtonProperty();
    }

    img{
        width: 20px;
        height: 19px;
        margin-left: 28px;
        margin-bottom: 8px;
    }

    li{
        margin-left: 22px;
    }

}

.trendingButton{
    margin-top: 75px;

    button{
        @include sideButtonProperty();
    }

    img{
        width: 17px;
        height: 22px;
        margin-left: 29px;
        margin-bottom: 8px;
    }

    li{
        margin-left: 15px;
    }
}

.subscriptionButton{
    
    margin-top: 75px;

    button{
        @include sideButtonProperty();
    }

    img{
        width: 27px;
        margin-left: 24px;
        margin-bottom: 3px;
    }

    li{
        margin-left: 7px;
    }
}

.playlist{
    margin-top: 75px;

    button{
        @include sideButtonProperty();
    }

    img{
        width: 30px;
        // height: 2.2vw;
        margin-left: 26px;
    }

    li{
        color: white;
        font-size: 14px;
        margin-left: 9px;
    } 
}


.subscribedCh{
    margin-top: 75px;
    // @extend .sideBar;
    width: 100%;

    button{
        @include sideButtonProperty();
    }
    hr{
        color: rgb(100, 100, 100);
        border-width: 0.1px;
        width: 100%;
        opacity: 20%;
    }
    

    img{
        width: 30px;
        height: 30px;
        margin-left: 1.6vw;
        border-radius: 50px;
    }

    li{
        margin-left: 1.1vw;
    }


}

.sideBarExpanded{
    @extend .sideBar;
    width: 240px;

    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 0.6vw;
    }
    &::-webkit-scrollbar-track{
        background-color: $bg;
    }
    &::-webkit-scrollbar-thumb{
        background: rgb(80, 80, 80);
    }

    .homeButton{
        li{
            margin-left: 20px;
        }
        
        img{
            opacity: 70%;
        }
    }

    .trendingButton{
        margin-top: 75px;
        li{
            margin-left: 20px;
        }

        img{
            opacity: 70%;
        }
    }

    .subscriptionButton{
        
        margin-top: 75px;
        li{
            margin-left: 17px;
        }

        img{
            opacity: 70%;
        }
    }

    .playlistButton{
        
        margin-top: 75px;
        li{
            margin-left: 16px;
        }

        img{
            opacity: 70%;
        }
    }

    button{
        @include sideButtonProperty();
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        opacity: 75%;

    }
    
    li{
        font-size: 14px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        
    }

    .linkSection{
        margin-top: 80px;
        margin-bottom: 100px;

        flex-direction: row;

        a{
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            
            margin-left: 8px;
            color: rgb(138, 138, 138);
            text-decoration: none;
        }
    }


}


.categories{
    flex-direction: column;
    // margin-right: 10px;
    // margin-left: 20px;
    margin-top: 75px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    width: 100vw;

    // background-color: red;

    h1{
        color: white;
    }

    div{
        margin-top: 20px;
        margin-left: 0;
        // background-color: red;
        width: 100%;
        left: 0;
        // align-items: start;
    }

    hr{
        color: rgb(100, 100, 100);
        border-width: 0.1px;
        width: 100%;
        opacity: 20%;
    }

    .m{
        @extend hr;
        opacity: 100%;
        // margin-top: 200px;
        margin-top: 400px;
        margin-bottom: 0;
    }
}

.favMusic{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        // margin-left: 4.3vw;
        margin-top: 0;
        opacity: 70%;
    }

    img{
        width: 50px;
        // height: 2.2vw;
        margin-left: 15px;
    }

    li{
        color: white;
        font-size: 14px;
        margin-left: 8px;
    }
}

.favGame{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-top: 60px;
        opacity: 70%;
    }

    img{
        width: 50px;
        // height: 2.2vw;
        margin-left: 15px;
    }

    li{
        color: white;
        font-size: 14px;
        margin-left: 8px;
    } 
}

.favNews{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-top: 120px;
        opacity: 70%;
    }

    img{
        width: 50px;
        // height: 2.2vw;
        margin-left: 15px;
    }

    li{
        color: white;
        font-size: 14px;
        margin-left: 8px;
    }  
}

.favSport{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-top: 180px;
        opacity: 70%;
    }

    img{
        width: 50px;
        // height: 2.2vw;
        margin-left: 15px;
    }

    li{
        color: white;
        font-size: 14px;
        margin-left: 8px;
    }  
}

.favEnt{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-top: 240px;
        opacity: 70%;
    }

    img{
        width: 50px;
        // height: 2.2vw;
        margin-left: 15px;
    }

    li{
        color: white;
        font-size: 14px;
        margin-left: 8px;
    }  
}

.favTrv{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-top: 300px;
        opacity: 70%;
    }

    img{
        width: 50px;
        // height: 2.2vw;
        margin-left: 15px;
    }

    li{
        color: white;
        font-size: 14px;
        margin-left: 8px;
    }  
}


.membership{
    button{
        @include sideButtonProperty();
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-top: 0;
        opacity: 70%;
    }

    img{
        width: 50px;
        // height: 2.2vw;
        margin-left: 15px;
    }

    li{
        color: white;
        font-size: 14px;
        margin-left: 8px;
    } 
}
