*{
    display: flex;

    margin: 0;
    padding: 0;

    flex-direction: column;

    box-sizing: border-box;

    background-color: black;

}

#container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    
    color: white;

    margin-top: 55px;
    margin-left: 72px;

    overflow-y: scroll;
    overflow-x: hidden;

    .categoryInfo{
        margin-left: 20px;
        flex-direction: row;
        align-items: center;

        font-family: Arial, Helvetica, sans-serif;

        img{
            width: 150px;
        }

        .text{
            flex-direction: column;
        }

        div{
            font-size: 20px;
            font-weight: bold;
        }
    }

    .m{
        margin-top: 10px;
        align-items: start;
        width: 100%;
        hr{
            border-width: 0.01vw;
            opacity: 40%;
            width: 95%;
        }

        overflow-x: hidden;
    }

    .content{
        align-items: start;

        margin-left: 40px;

        font-family: Arial, Helvetica, sans-serif;
        
        .allTime{
            margin-top: 30px;
            
            flex-direction: row; 

            div{
                font-weight: bold;
            }

        }

        .thisWeek{
            margin-top: 30px;

            div{
                font-weight: bold;
            }
        }

        .thisMonth{
            margin-top: 30px;

            div{
                font-weight: bold;
            }
        }

        .recent{
            margin-top: 30px;
            margin-bottom: 30px;

            div{
                font-weight: bold;
            }
        }
        
        .videoSection{
            display: flex;
            
            flex-direction: row;

            flex-wrap: wrap;

            

            .videoDetail{
                flex-direction: column;
    
    
                // background-color: blue;

                a{
                    text-decoration: none;
                    color: white;
                }
    
                width: 280px;
                // height: 300px;
                
                margin-right: 40px;
    
                margin-top: 20px;
    
                .image{
                    position: relative;
                    text-align: center;
    
                    font-weight: normal;
    
                    height: 140px;
    
                    .duration{
                        width: 40px;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
    
                        background-color: black;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px;
                        padding: 0 2px;
                        border-radius: 2px;
                        opacity: 80%;
                    }
    
                    .premium-vid{
                        width: 65px;
                        position: absolute;
                        top: 10px;
                        left: 10px;
    
                        background-color: rgb(48, 129, 235);
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px;
                        padding: 2px 2px;
                        border-radius: 2px;
    
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
    
                        img{
                            width: 10px;
                            height: 10px;
                            margin-right: 3px;
                            background-color: rgb(48, 129, 235);
                        }
                    }
                }
        
                &:focus{
                    outline: none;
                }
        
                img{
                    width: 100%;
                    height: 100%;
    
                    &:hover{
                        cursor: pointer;
                    }
                }
                
                .videos{
                    // margin-top: 0.7vw;
                    flex-direction: row;
                    font-size: 15px;
    
                    align-items: start;
                    justify-content: start;
    
                    width: 100%;
    
                    .ch{
                        margin-top: 5px;
                    }
    
    
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                    }
    
                    .channelName{
                        margin-top: 10px;
                        font-size: 12px;
                        color: rgb(180, 180, 180);
    
                        &:hover{
                            cursor: pointer;
                        }
    
                        &:active{
                            outline: none;
                        }
                    }
                    
                    .videoText{
                        margin-top: 5px;
                        flex-direction: column;
                        margin-left: 15px;
    
                        width: 100%;
    
    
                        .topText{
                            padding-bottom: 0.2vw;
                            width: 100%;
                            // background-color: red;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: start;
    
                            a{
                                
                                width: 90%;
    
                            }
    
                            img{
                                padding: 0;
                                width: 9px;
                                height: 18px;
                            }
                        }
                    }
        
                    .details{
                        font-size: 12px;
                        color: rgb(180, 180, 180);
                    }
                }
        
            }
        }
        

    }
    @keyframes popup {
        0%{
            overflow-y: hidden;
            transform: scale(0.9);
            opacity: 50%;
        }
        50%{
            transform: scale(1);
            opacity: 100%;
        }
    }

    .modal {
        align-items: center;
        justify-content: center;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
     
        
        
        .modal-content{
            background-color: rgb(61, 61, 61);
            margin: 15% auto;
            padding: 20px;
            width: 50%;
            
            animation: popup 1s;

            align-items: center;
            justify-content: center;

            // opacity: 70%;

            input{
                color: white;
            }
            

            button{
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: rgb(61, 61, 61); 
                color: white;

                border: none;

                width: 15vw;
                height: 3vw;

                cursor: pointer;

                &:hover{
                    background-color: rgb(43, 43, 43); 

                    img, li{
                        background-color: rgb(43, 43, 43); 
                    }
                }

                img{
                    width: 3vw;
                    height: 3vw;
                    background-color: rgb(61, 61, 61);
                }

                li{
                    background-color: rgb(61, 61, 61);
                }
            }

            .close{
                color: white;
                background-color: rgb(61, 61, 61);
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

}