*{
    display: flex;

    margin: 0;
    padding: 0;

    flex-direction: column;

    box-sizing: border-box;


    background-color: black;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    justify-content: start;
    align-items: start;
    flex-direction: row;
    
    width: 100vw;
    color: white;

    margin-top: 55px;
    margin-left: 72px;

    overflow-y: scroll;

    .guest{
        justify-content: center;
        align-items: center;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 1vw;

        margin-left: 35vw;
        margin-top: 10vw;

        img{
            width: 10vw;
            height: 10vw;
            opacity: 70%;
        }

        .dontMiss{
            font-size: 1.5vw;
        }

        div{
            margin-top: 1vw;
        }

        .signInButton{

            justify-content: center;
            align-items: center;

            button{
                flex-direction: row;
                
                align-items: center;
                
                color: rgb(15, 148, 224);
                font-weight: bold;
                height: 2.4vw;
                width: 6vw;
                background-color: rgb(27, 27, 27);
                border: 1px solid rgb(0, 138, 218);
                border-radius: 0.2vw;
                cursor: pointer;

                &:focus{
                    outline: none;
                    animation: ease-in-out;
                }
            }
            
            .userLogo{
                margin-left: 7px;
                margin-right: 3px;
                width: 24px;
                height: 23px;
            }
        }
    }

    .user{
        padding-left: 5vw;
        padding-top: 1vw;
        
        // background-color: red;

        width: 100%;

        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

        .empty-msg{
            margin-top: 1vw;
            font-weight: normal;
            font-size: 15px;
        }

        hr{
            border: none;
            border-top: 1px solid white;
            opacity: 20%;
            width: 92%;
        }

        .today-section, .this-week-section, .this-month-section{
            margin-bottom: 2vw;
            margin-top: 0.5vw;
        }

        .video-section{
            display: flex;
            
            flex-direction: row;

            flex-wrap: wrap;

            

            .videoDetail{
                flex-direction: column;
    
    
                background-color: blue;

                a{
                    text-decoration: none;
                    color: white;
                }
    
                width: 280px;
                // height: 300px;
                
                margin-right: 20px;
    
                margin-top: 20px;
    
                .image{
                    position: relative;
                    text-align: center;
    
                    font-weight: normal;
    
                    height: 160px;
    
                    .duration{
                        width: 40px;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
    
                        background-color: black;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px;
                        padding: 0 2px;
                        border-radius: 2px;
                        opacity: 80%;
                    }
    
                    .premium-vid{
                        width: 65px;
                        position: absolute;
                        top: 10px;
                        left: 10px;
    
                        background-color: rgb(48, 129, 235);
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px;
                        padding: 2px 2px;
                        border-radius: 2px;
    
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
    
                        img{
                            width: 10px;
                            height: 10px;
                            margin-right: 3px;
                            background-color: rgb(48, 129, 235);
                        }
                    }
                }
        
                &:focus{
                    outline: none;
                }
        
                img{
                    width: 100%;
                    height: 100%;
    
                    &:hover{
                        cursor: pointer;
                    }
                }
                
                .videos{
                    // margin-top: 0.7vw;
                    flex-direction: row;
                    font-size: 15px;
    
                    align-items: start;
                    justify-content: start;
    
                    width: 100%;
    
                    .ch{
                        margin-top: 5px;
                    }
    
    
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                    }
    
                    .channelName{
                        margin-top: 10px;
                        font-size: 12px;
                        color: rgb(180, 180, 180);
    
                        &:hover{
                            cursor: pointer;
                        }
    
                        &:active{
                            outline: none;
                        }
                    }
                    
                    .videoText{
                        margin-top: 5px;
                        flex-direction: column;
                        margin-left: 15px;
    
                        width: 100%;
    
    
                        .topText{
                            padding-bottom: 0.2vw;
                            width: 100%;
                            // background-color: red;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: start;
    
                            a{
                                
                                width: 90%;
    
                            }
    
                            img{
                                padding: 0;
                                width: 9px;
                                height: 18px;
                            }
                        }
                    }
        
                    .details{
                        font-size: 12px;
                        color: rgb(180, 180, 180);
                    }
                }
        
            }
        }


        .footer{
            height: 20px;
            width: 100%;
            // background-color: white;
        }
        
    }

    
    @keyframes popup {
        0%{
            overflow-y: hidden;
            transform: scale(0.9);
            opacity: 50%;
        }
        50%{
            transform: scale(1);
            opacity: 100%;
        }
    }

    .modal {
        align-items: center;
        justify-content: center;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
     
        
        
        .modal-content{
            background-color: rgb(61, 61, 61);
            margin: 15% auto;
            padding: 20px;
            width: 50%;
            
            animation: popup 1s;

            align-items: center;
            justify-content: center;

            // opacity: 70%;

            input{
                color: white;
            }
            

            button{
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: rgb(61, 61, 61); 
                color: white;

                border: none;

                width: 15vw;
                height: 3vw;

                cursor: pointer;

                &:hover{
                    background-color: rgb(43, 43, 43); 

                    img, li{
                        background-color: rgb(43, 43, 43); 
                    }
                }

                img{
                    width: 3vw;
                    height: 3vw;
                    background-color: rgb(61, 61, 61);
                }

                li{
                    background-color: rgb(61, 61, 61);
                }
            }

            .close{
                color: white;
                background-color: rgb(61, 61, 61);
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}