
<div id="container">

    <div class="categoryInfo">
        <img src="../../../assets/game_fav_logo.png" alt="">
        <div class="text">
            <div>Game</div>
            <div class="subsCount">...M subscribers</div>
        </div>
    </div>
    
    
    <div class="content">
        <div class="m">
            <hr> 
        </div>
        <div class="allTime">
            <div>
                All-time Popular
                <div class="videoSection">
                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="m">
            <hr>
        </div>

        <div class="thisWeek">
            <div>
                Popular This Week
                <div class="videoSection">
                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="m">
            <hr>
        </div>

        <div class="thisMonth">
            <div>
                Popular Of The Month
                <div class="videoSection">
                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="m">
            <hr>
        </div>
    
        <div class="recent">
            <div>
                Recently Uploaded
                <div class="videoSection">
                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="videoDetail">
                        <video routerLink="/video">
                        <source src="../../../assets/vid.mp4" type="video/mp4">
                        </video>
                        <div class="videos">
                            <div class="videoText">
                                <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                                <div class="channelName" routerLink="/channel">starshipTV</div>
                                <div class="details">11m . 3 weeks ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>