
<div id="container">

    <div class="categoryInfo">
        <img src="../../../assets/game_fav_logo.png" alt="">
        <div class="text">
            <div>Game</div>
        </div>
    </div>
    
    
    <div class="content">
        <div class="m">
            <hr> 
        </div>
        <div class="allTime">
            <div>
                All-time Popular
                <div class="videoSection">
                    <div class="videoDetail" *ngFor="let video of videos1">
                        <img src="{{ video.video_thumbnail }}" alt="" 
                        routerLink="/video/{{ video.video_id }}">
                        <div class="videos">
                            <img src="{{ video.channel_icon }}" alt="">
                            <div class="videoText">
                                <div routerLink="/video/{{ video.video_id }}">{{ video.video_title }}</div>
                                <div class="channelName" routerLink="/channel/{{ video.channel_id }}">{{ video.channel_name }}</div>
                                <div class="details">{{ getViews(video.video_views) }} views . {{ getDay(video.day, video.month, video.year) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="m">
            <hr>
        </div>

        <div class="thisWeek">
            <div>
                Popular This Week
                <div class="videoSection">
                    <div class="videoDetail" *ngFor="let video of videos2">
                        <img src="{{ video.video_thumbnail }}" alt="" 
                        routerLink="/video/{{ video.video_id }}">
                        <div class="videos">
                            <img src="{{ video.channel_icon }}" alt="">
                            <div class="videoText">
                                <div routerLink="/video/{{ video.video_id }}">{{ video.video_title }}</div>
                                <div class="channelName" routerLink="/channel/{{ video.channel_id }}">{{ video.channel_name }}</div>
                                <div class="details">{{ getViews(video.video_views) }} views . {{ getDay(video.day, video.month, video.year) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="m">
            <hr>
        </div>

        <div class="thisMonth">
            <div>
                Popular Of The Month
                <div class="videoSection">
                    <div class="videoDetail" *ngFor="let video of videos3">
                        <img src="{{ video.video_thumbnail }}" alt="" 
                        routerLink="/video/{{ video.video_id }}">
                        <div class="videos">
                            <img src="{{ video.channel_icon }}" alt="">
                            <div class="videoText">
                                <div routerLink="/video/{{ video.video_id }}">{{ video.video_title }}</div>
                                <div class="channelName" routerLink="/channel/{{ video.channel_id }}">{{ video.channel_name }}</div>
                                <div class="details">{{ getViews(video.video_views) }} views . {{ getDay(video.day, video.month, video.year) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="m">
            <hr>
        </div>
    
        <div class="recent">
            <div>
                Recently Uploaded
                <div class="videoSection">
                    <div class="videoDetail" *ngFor="let video of videos4">
                        <img src="{{ video.video_thumbnail }}" alt="" 
                        routerLink="/video/{{ video.video_id }}">
                        <div class="videos">
                            <img src="{{ video.channel_icon }}" alt="">
                            <div class="videoText">
                                <div routerLink="/video/{{ video.video_id }}">{{ video.video_title }}</div>
                                <div class="channelName" routerLink="/channel/{{ video.channel_id }}">{{ video.channel_name }}</div>
                                <div class="details">{{ getViews(video.video_views) }} views . {{ getDay(video.day, video.month, video.year) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>