
<div id="container">

    <div class="categoryInfo">
        <img src="../../../assets/game_fav_logo.png" alt="">
        <div class="text">
            <div>Game</div>
        </div>
    </div>
    
    
    <div class="content">
        <div class="m">
            <hr> 
        </div>
        <div class="allTime">
            <div>
                All-time Popular
                <div class="videoSection">
                    <div class="videoDetail" *ngFor="let video of videos1, let i = index">
                        <video style="display: none;" src="{{ video.video }}" (loadedmetadata)="setDuration(1, i, $event)"></video>
                        <a href="/video/{{ video.video_id }}">
                        <div class="image">
                            <img src="{{ video.video_thumbnail }}" alt="">
                            
                            <div class="premium-vid" *ngIf="premiumVids1[i]">
                                <img src="../../assets/premium_icon.jpg" alt="">
                                Premium
                            </div>
                            <div class="duration"> {{ videoDuration1[i] }}</div>
                        </div>
                    </a>
                    <div class="videos">
                        <a href="/channel/{{ video.channel_id }}" class="ch">
                            <img src="{{ video.channel_icon }}" alt="">
                        </a>
                        <div class="videoText">
                            <div class="topText">
                                <a href="/video/{{ video.video_id }}">
                                    <div>{{ video.video_title }}</div>
                                </a>
                                <img src="../../assets/three_dots_logo.png" alt="" id="addButton"  (click)="openModalPlaylist( video.video_id )">
                            </div>
                            <a href="/channel/{{ video.channel_id }}">
                                <div class="channelName">{{ video.channel_name }}</div>
                            </a>
                            <div class="details">{{ getViews(video.video_views) }} views . {{ getDay(video.day, video.month, video.year) }}</div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="m">
            <hr>
        </div>

        <div class="thisWeek">
            <div>
                Popular This Week
                <div class="videoSection">
                    <div class="videoDetail" *ngFor="let video of videos2, let i = index">
                        <video style="display: none;" src="{{ video.video }}" (loadedmetadata)="setDuration(2, i, $event)"></video>
                    <a href="/video/{{ video.video_id }}">
                        <div class="image">
                            <img src="{{ video.video_thumbnail }}" alt="">
                            
                            <div class="premium-vid" *ngIf="premiumVids2[i]">
                                <img src="../../assets/premium_icon.jpg" alt="">
                                Premium
                            </div>
                            <div class="duration">{{ videoDuration2[i] }}</div>
                        </div>
                    </a>
                    <div class="videos">
                        <a href="/channel/{{ video.channel_id }}" class="ch">
                            <img src="{{ video.channel_icon }}" alt="">
                        </a>
                        <div class="videoText">
                            <div class="topText">
                                <a href="/video/{{ video.video_id }}">
                                    <div>{{ video.video_title }}</div>
                                </a>
                                <img src="../../assets/three_dots_logo.png" alt="" id="addButton"  (click)="openModalPlaylist( video.video_id )">
                            </div>
                            <a href="/channel/{{ video.channel_id }}">
                                <div class="channelName">{{ video.channel_name }}</div>
                            </a>
                            <div class="details">{{ getViews(video.video_views) }} views . {{ getDay(video.day, video.month, video.year) }}</div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="m">
            <hr>
        </div>

        <div class="thisMonth">
            <div>
                Popular Of The Month
                <div class="videoSection">
                    <div class="videoDetail" *ngFor="let video of videos3, let i = index">
                        <video style="display: none;" src="{{ video.video }}" (loadedmetadata)="setDuration(3, i, $event)"></video>
                    <a href="/video/{{ video.video_id }}">
                        <div class="image">
                            <img src="{{ video.video_thumbnail }}" alt="">
                            
                            <div class="premium-vid" *ngIf="premiumVids3[i]">
                                <img src="../../assets/premium_icon.jpg" alt="">
                                Premium
                            </div>
                            <div class="duration">{{ videoDuration3[i] }}</div>
                        </div>
                    </a>
                    <div class="videos">
                        <a href="/channel/{{ video.channel_id }}" class="ch">
                            <img src="{{ video.channel_icon }}" alt="">
                        </a>
                        <div class="videoText">
                            <div class="topText">
                                <a href="/video/{{ video.video_id }}">
                                    <div>{{ video.video_title }}</div>
                                </a>
                                <img src="../../assets/three_dots_logo.png" alt="" id="addButton"  (click)="openModalPlaylist( video.video_id )">
                            </div>
                            <a href="/channel/{{ video.channel_id }}">
                                <div class="channelName">{{ video.channel_name }}</div>
                            </a>
                            <div class="details">{{ getViews(video.video_views) }} views . {{ getDay(video.day, video.month, video.year) }}</div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="m">
            <hr>
        </div>
    
        <div class="recent">
            <div>
                Recently Uploaded
                <div class="videoSection">
                    <div class="videoDetail" *ngFor="let video of videos4, let i = index">
                        <video style="display: none;" src="{{ video.video }}" (loadedmetadata)="setDuration(4, i, $event)"></video>
                        <a href="/video/{{ video.video_id }}">
                        <div class="image">
                            <img src="{{ video.video_thumbnail }}" alt="">
                            
                            <div class="premium-vid" *ngIf="premiumVids4[i]">
                                <img src="../../assets/premium_icon.jpg" alt="">
                                Premium
                            </div>
                            <div class="duration">{{ videoDuration4[i] }}</div>
                        </div>
                    </a>
                    <div class="videos">
                        <a href="/channel/{{ video.channel_id }}" class="ch">
                            <img src="{{ video.channel_icon }}" alt="">
                        </a>
                        <div class="videoText">
                            <div class="topText">
                                <a href="/video/{{ video.video_id }}">
                                    <div>{{ video.video_title }}</div>
                                </a>
                                <img src="../../assets/three_dots_logo.png" alt="" id="addButton"  (click)="openModalPlaylist( video.video_id )">
                            </div>
                            <a href="/channel/{{ video.channel_id }}">
                                <div class="channelName">{{ video.channel_name }}</div>
                            </a>
                            <div class="details">{{ getViews(video.video_views) }} views . {{ getDay(video.day, video.month, video.year) }}</div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="playlistModal" class="modal">
        <div class="modal-content">
            <span class="close" (click) = "closeModalPlaylist()">&times;</span>
            <div class="playlist" *ngFor="let p of playlist">
                <button (click)="addToPlaylist( p.playlist_id )">
                    <img src="../../assets/add_playlist_icon.png" alt="">
                    <li>
                        {{ p.playlist_title }}
                    </li>
                </button>
            </div>

            <button (click)="createPlaylist()">
                <img src="../../assets/add_playlist_icon.png" alt="">
                <li>
                    Add new playlist
                </li>
            </button>
        </div>
    </div>

    <div id="addModal" class="modal">
        <div class="modal-content">
            <span class="close" (click)="close()">&times;</span>
            <input type="text" id="pName" placeholder="Input playlist name">
            <button (click) = "create()">Create Playlist</button>
        </div>
    </div>
</div>