*{
    display: flex;

    margin: 0;
    padding: 0;

    flex-direction: column;

    box-sizing: border-box;

    background-color: black;

    overflow: visible;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    
    color: white;

    margin-top: 55px;
    margin-left: 72px;
    
    // width: 95.3%;

    overflow-y: scroll;

    font-family: Arial, Helvetica, sans-serif;
    
    #bg{
        width: 100%;
        height: 15vw;
    }

    .c_info{
        margin-left: 4vw;
        margin-top: 1vw;
    }

    .channelInfo{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        font-family: Arial, Helvetica, sans-serif;

        .ch{
            flex-direction: column;
        }

        .leftSide{
            flex-direction: row;
            align-items: center;

            .ch{
                margin-left: 1.5vw;
            }

            .chName{
                font-size: 1.5vw;
            }

            .subsCount{
                margin-top: 0.5vw;
                opacity: 50%;
                font-size: 1vw;
            }

            img{
                width: 5vw;
                height: 5vw;
                border-radius: 5vw;
            }
        }

        

        .rightSide{
            button{
                background-color: rgb(202, 0, 0);

                border: none;
                border-radius: 0.3vw;
                
                font-size: 0.9vw;

                align-items: center;
                justify-content: center;
                height: 2.4vw;
                width: 7.4vw;
                
                color: white;
                font-weight: bold;

                cursor: pointer;
            }
            margin-right: 5vw;
        }
        .alrSubscribe{
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
            button{
                background-color: rgb(46, 46, 46);
                color: gray;
            }
    
            img{
                margin-left: 0.7vw;
                margin-right: 0.2vw;
    
                width: 2vw;
                height: 2vw;
    
                opacity: 50%;
            }
        }
    }


    .buttons{
        flex-direction: row;
        // margin-left: 1vw;

        opacity: 70%;
        
        margin-top: 1vw;

        
        button{

            cursor: pointer;

            padding-right: 1.9vw;
            padding-left: 1.9vw;
            padding-bottom: 0.5vw;

            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 0.9vw;
        
            color: white;

            border: none;

            &:hover{
                opacity: 100%;
            }

            &:focus{
                border-bottom: 0.2vw solid white;
                outline: none;

            }
            
        }
    }

    .recentlyUploaded, .randomVideo, .randomPlaylist{
        flex-direction: row;
    }

    .videoSection{
        margin: 0;
        margin-top: 1vw;

        padding-left: 40px;
        
        display: flex;
        
        flex-direction: row;

        flex-wrap: wrap;


        .footer{
            // background-color: red;
            width: 100%;
            height: 40px;
        }

        .filtering{
            padding-left: 50px;
            width: 100%;
            // background-color: red;
    
            div{
                flex-direction: row;
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
    
            .filterDate, .filterType{
                // background-color:blue;
                width: 10%;
    
                margin-right: 40px;
                hr{
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid white;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
                flex-direction: column;
    
                button{
                    cursor: pointer;
                    border: none;
                    color: white;
                    margin-bottom: 10px;
                }
            }
        }

    }

    .videoDetail{
        flex-direction: column;


        // background-color: blue;

        a{
            text-decoration: none;
            color: white;
        }

        width: 280px;
        // height: 300px;
        
        margin-right: 40px;

        margin-top: 20px;

        .image{
            position: relative;
            text-align: center;

            font-weight: normal;

            height: 140px;

            @keyframes expand {
                0%{
                    opacity: 0.2;
                }
                100%{
                    opacity: 1;
                }

            }

            .queue{
                position: absolute;
                top: 5px;
                right: 0;

                background-color: white;

                flex-direction: row;
                justify-content: center;
                align-items: start;

                width: 40%;

                opacity: 0;
                font-size: 10px;

                font-family: Arial, Helvetica, sans-serif;
                
                &:hover{
                    animation: expand 1s;
                    opacity: 1;
                }

                color: black;

                img{
                    width: 20px;
                    height: 20px;

                    margin-right: 3px;
                    

                    background-color: white;
                }

                

            }

            .duration{
                width: 40px;
                position: absolute;
                bottom: 10px;
                right: 10px;

                background-color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                padding: 0 2px;
                border-radius: 2px;
                opacity: 80%;
            }

            .premium-vid{
                width: 65px;
                position: absolute;
                top: 10px;
                left: 10px;

                background-color: rgb(48, 129, 235);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                padding: 2px 2px;
                border-radius: 2px;

                flex-direction: row;
                justify-content: center;
                align-items: center;

                img{
                    width: 10px;
                    height: 10px;
                    margin-right: 3px;
                    background-color: rgb(48, 129, 235);
                }
            }
        }

        &:focus{
            outline: none;
        }

        img{
            width: 100%;
            height: 100%;

            &:hover{
                cursor: pointer;
            }
        }
        
        .videos{
            // margin-top: 0.7vw;
            flex-direction: row;
            font-size: 15px;

            align-items: start;
            justify-content: start;

            width: 100%;

            .ch{
                margin-top: 5px;
            }


            img{
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }

            .channelName{
                margin-top: 10px;
                font-size: 12px;
                color: rgb(180, 180, 180);

                &:hover{
                    cursor: pointer;
                }

                &:active{
                    outline: none;
                }
            }
            
            .videoText{
                margin-top: 5px;
                flex-direction: column;
                margin-left: 15px;

                width: 100%;


                .topText{
                    padding-bottom: 0.2vw;
                    width: 100%;
                    // background-color: red;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: start;

                    a{
                        
                        width: 90%;

                    }

                    img{
                        padding: 0;
                        width: 9px;
                        height: 18px;
                    }
                }
            }

            .details{
                font-size: 12px;
                color: rgb(180, 180, 180);
            }
        }

    }

    .homeContent{
        width: 100%;
        padding-left: 5vw;
        padding-top: 20px;

        // background-color: red;
        
    }

    .randomVideo, .recentlyUploaded{
        @extend .videoDetail;
        flex-direction: row;

        // background-color: blue;
        width: 100%;
        height: 270px;

        align-items: center;


        .videoDetail{
            background-color: red;
            margin-right: 30px;
            width: 230px;
            // height: ;

        }

        .next{
            width: 30px;
            height: 30px;
            opacity: 50%;
        }
    }

    .playlistContent, .randomPlaylist{
        .pl{
            flex-direction: row;
            width: 65%;
            margin-left: 3vw;
            margin-top: 2vw;
    
            cursor: pointer;
    
            img{
                width: 250px;
                height: 130px;
            }
    
            .playlistDetail{
                margin-left: 20px;
    
                font-size: 1em;
    
                .pName{
                    font-size: 1.3em;
                }
    
                .cName{
                    margin-top: 10px;
                    color: rgb(156, 156, 156);
                }
    
                .shortDesc{
                    margin-top: 20px;
                }
            }
        }
    }

    .randomPlaylist{
        align-items: center;
        margin-bottom: 20px;
        .pl{
            // background-color: red;
            width: 30%;
            margin-left: 0;
            img{
                width: 180px;
                height: 90px;
            }
        }

        .next{
            cursor: pointer;
            margin-left: 50px;

            width: 30px;
            height: 30px;
            opacity: 50%;
        }

    }

    .aboutContent{
        padding-top: 40px;
        margin-left: 90px;
        width: 60%;
        // background-color: red;
        flex-direction: row;
        justify-content: space-between;

        .desc, .stats{
            font-size: 1.2em;

            .d, .j-date, .views{
                margin-top: 20px;
                font-size: 0.9em;
            }
        }

        .desc{
            width: 50%;
        }

        .stats{
            width: 30%;
            // background-color: pink;
            
        }

        hr{
            width: 100%;
            border: none;
            border-bottom: 1px solid white;
            opacity: 50%;
            margin-top: 10px;
        }
    }

    .homeContent{
        flex-direction: column;

        hr{
            width: 90%;
            border: none;
            border-bottom: 1px solid white;
            opacity: 50%;
            margin-top: 10px;
        }
    }

    @keyframes popup {
        0%{
            overflow-y: hidden;
            transform: scale(0.9);
            opacity: 50%;
        }
        50%{
            transform: scale(1);
            opacity: 100%;
        }
    }

    .modal {
        align-items: center;
        justify-content: center;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
     
        
        
        .modal-content{
            background-color: rgb(61, 61, 61);
            margin: 15% auto;
            padding: 20px;
            width: 50%;
            
            animation: popup 1s;

            align-items: center;
            justify-content: center;

            // opacity: 70%;

            input{
                color: white;
            }
            

            button{
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: rgb(61, 61, 61); 
                color: white;

                border: none;

                width: 15vw;
                height: 3vw;

                cursor: pointer;

                &:hover{
                    background-color: rgb(43, 43, 43); 

                    img, li{
                        background-color: rgb(43, 43, 43); 
                    }
                }

                img{
                    width: 3vw;
                    height: 3vw;
                    background-color: rgb(61, 61, 61);
                }

                li{
                    background-color: rgb(61, 61, 61);
                }
            }

            .close{
                color: white;
                background-color: rgb(61, 61, 61);
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}