*{
    display: flex;

    margin: 0;
    padding: 0;

    flex-direction: column;

    box-sizing: border-box;


    background-color: black;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    
    color: white;

    margin-top: 55px;
    margin-left: 72px;
    
    width: 95.3%;
    overflow-y: scroll;

    #fav{
        flex-direction: row;
    }

    #leftSide{
        margin-left: 3vw;
    }

    .category{
        flex-direction: row;
        
        button{
            border: none;
            color: rgb(158, 158, 158);
            width: 10vw;
            height: 8vw;

            div{
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                margin-left: 3.8vw;
            }

            #ent{
                margin-left: 2vw;
            }

            &:hover{
                cursor: pointer;
            }

            &:focus{
                outline: none;
            }
        }
        img{
            width: 10vw;
            height: 7vw;
        }
    }

    hr{
        margin-left: 3vw;
        margin-top: 2vw;
        color: rgb(68, 68, 68);
        border-width: 0.1px;
        opacity: 20%;
        width: 90%;
    }

    @keyframes popup {
        0%{
            overflow-y: hidden;
            transform: scale(0.9);
            opacity: 50%;
        }
        50%{
            transform: scale(1);
            opacity: 100%;
        }
    }

    .modal {
        align-items: center;
        justify-content: center;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
     
        
        
        .modal-content{
            background-color: rgb(61, 61, 61);
            margin: 15% auto;
            padding: 20px;
            width: 50%;

            align-items: center;
            justify-content: center;

            // opacity: 70%;

            animation: popup 1s;

            input{
                color: white;
            }
            

            button{
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: rgb(61, 61, 61); 
                color: white;

                border: none;

                width: 15vw;
                height: 3vw;

                cursor: pointer;

                &:hover{
                    background-color: rgb(43, 43, 43); 

                    img, li{
                        background-color: rgb(43, 43, 43); 
                    }
                }

                img{
                    width: 3vw;
                    height: 3vw;
                    background-color: rgb(61, 61, 61);
                }

                li{
                    background-color: rgb(61, 61, 61);
                }
            }

            .close{
                color: white;
                background-color: rgb(61, 61, 61);
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

}

.trendingVideo{
    flex-direction: column;
    width: 80%;
    margin-left: 3vw;
    margin-top: 2vw;

    .videoDetail{
        flex-direction: row;


        a{
            width: 400px;
        }

        .image{
            position: relative;
            text-align: center;

            font-weight: normal;

            // width: 10vw;
            // height: 70%;
            width: 100%;

            .duration{
                width: 50px;
                position: absolute;
                bottom: 10px;
                right: 10px;

                background-color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                padding: 0 2px;
                border-radius: 2px;
                opacity: 80%;
            }

            .premium-vid{
                width: 65px;
                position: absolute;
                top: 10px;
                left: 10px;

                background-color: rgb(48, 129, 235);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                padding: 2px 2px;
                border-radius: 2px;

                flex-direction: row;
                justify-content: center;
                align-items: center;

                img{
                    width: 10px;
                    height: 10px;
                    margin-right: 3px;
                    background-color: rgb(48, 129, 235);
                }
            }
        }

        &:hover{
            cursor: pointer;
        }

        &:focus{
            outline: none;
        }

        img{
            width: 280px;
            height: 140px;
        }
        
        .videoText{
            margin-left: 15px;
            flex-direction: column;
            font-size: 17px;
            // font-weight: bold;

            width: 100%;

            
            .top{
                width: 100%;
                flex-direction: row;
                justify-content: space-between;

                img{
                    width: 10px;
                    height: 20px;
                }
            }

            div{
                &:active{
                    outline: none;
                }
            }

            .details{
                margin-top: 5px;
                font-size: 14px;
                color: rgb(180, 180, 180);

                &:active{
                    outline: none;
                }
            }
            
            .desc{
                margin-top: 10px;
                font-size: 13px;
                color: rgb(180, 180, 180);
            }
        }

    }

    
}

a{
    text-decoration: none;
    color: white;
}

