<!-- <body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis dolor ipsa ipsum reprehenderit deleniti molestias. Esse illo, asperiores voluptatem dolore commodi quod laudantium reprehenderit delectus vel culpa autem odit.
</body> -->

<div id="container">
    <div id="fav">
        <div id="leftSide">
            <div class="category">
                <button (click)="openCategoryPage(1)">
                    <img src="../../assets/music_fav_logo.png" alt="">
                    <div>
                        Music
                    </div>
                </button>

                <button (click)="openCategoryPage(2)">
                    <img src="../../assets/game_fav_logo.png" alt="">
                    <div>
                        Game
                    </div>
                </button>

                <button (click)="openCategoryPage(3)">
                    <img src="../../assets/news_fav_logo.png" alt="">
                    <div>
                        News
                    </div>
                </button>

                <button (click)="openCategoryPage(4)">
                    <img src="../../assets/sport_fav_logo.png" alt="">
                    <div>
                        Sport
                    </div>
                </button>

                <button (click)="openCategoryPage(5)">
                    <img src="../../assets/entertainment_fav_logo.png" alt="">
                    <div id="ent">
                        Entertainment
                    </div>
                </button>

                <button (click)="openCategoryPage(6)">
                    <img src="../../assets/travel_fav_logo.png" alt="">
                    <div>
                        Travel
                    </div>
                </button>
            </div>
        </div>
    </div>
    <hr>

    <div class="trendingVideo">
        <div class="videoDetail" routerLink="/video">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail" routerLink="/video">
            <video>
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video>
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video>
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video>
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video>
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>

        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>
        
        <div class="videoDetail">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="details">Creator . Views . dll</div>
                <div class="desc">(Video Desc) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit dolorum dicta ipsum, culpa laboriosam harum quod minus nam consequatur non perspiciatis aperiam expedita, fugiat tenetur! Odio officia aspernatur rem provident.</div>
            </div>
        </div>
    </div>
</div>
