<!-- <body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis dolor ipsa ipsum reprehenderit deleniti molestias. Esse illo, asperiores voluptatem dolore commodi quod laudantium reprehenderit delectus vel culpa autem odit.
</body> -->

<div id="container">
    <div id="fav">
        <div id="leftSide">
            <div class="category">
                <button (click)="openCategoryPage(1)">
                    <img src="../../assets/music_fav_logo.png" alt="">
                    <div>
                        Music
                    </div>
                </button>

                <button (click)="openCategoryPage(2)">
                    <img src="../../assets/game_fav_logo.png" alt="">
                    <div>
                        Game
                    </div>
                </button>

                <button (click)="openCategoryPage(3)">
                    <img src="../../assets/news_fav_logo.png" alt="">
                    <div>
                        News
                    </div>
                </button>

                <button (click)="openCategoryPage(4)">
                    <img src="../../assets/sport_fav_logo.png" alt="">
                    <div>
                        Sport
                    </div>
                </button>

                <button (click)="openCategoryPage(5)">
                    <img src="../../assets/entertainment_fav_logo.png" alt="">
                    <div id="ent">
                        Entertainment
                    </div>
                </button>

                <button (click)="openCategoryPage(6)">
                    <img src="../../assets/travel_fav_logo.png" alt="">
                    <div>
                        Travel
                    </div>
                </button>
            </div>
        </div>
    </div>
    <hr>

    <div class="trendingVideo" *ngFor="let video of videos">
        <div class="videoDetail" routerLink="/video/{{ video.video_id }}">
            <img src="{{ video.video_thumbnail }}" alt="" 
            routerLink="/video/{{ video.video_id }}">
            <div class="videoText">
                <div routerLink="/video/{{ video.video_id }}">{{ video.video_title }}</div>
                <div class="details" routerLink="/channel/{{ video.channel_id }}"> {{ video.channel_name }} . {{ getViews(video.video_views) }} views . {{ getDay(video.day, video.month, video.year) }} </div>
                <div class="desc">{{ video.video_description }}</div>
            </div>
        </div>

        
    </div>
</div>
