*{
    display: flex;

    margin: 0;
    padding: 0;

    flex-direction: column;

    box-sizing: border-box;

    background-color: black;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    
    color: white;

    margin-top: 3.6vw;
    margin-left: 4.7vw;
    
    width: 95.3%;
    overflow-y: scroll;

    align-items: start;

    flex-direction: row;

    font-family: Arial, Helvetica, sans-serif;

    .playlistInfo{
        width: 23vw;
        margin-top: 2vw;
        margin-left: 2vw;

        img{
            width: 23vw;
            height: 10vw;
        }
        
        .title{
            // font-weight: bold;
            flex-direction: row;
            margin-top: 1vw;
            font-size: 1.5vw;

            justify-content: space-between;

            img{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

        .infos{
            margin-top: 1vw;
            color: rgb(173, 173, 173);
        }

        button{
            margin-top: 0.8vw;
            border:none;
            cursor: pointer;

            img{
                width: 1vw;
                height: 1vw;
                opacity: 50%;
            }

            &:focus{
                outline: none;
            }
        }

        .playlistDesc{
            margin-top: 1vw;
            color: rgb(170, 170, 170);
        }

        hr{
            margin-top: 0.5vw;
            border-width: 0.008vw;
            opacity: 30%;
        }

        .bottomInfo{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .channelInfo{
            flex-direction: row;
            align-items: center;

            cursor: pointer;

            &:active{
                outline: none;
            }

            margin-top: 1vw;

            .chName{
                font-size: 1vw;
                margin-left: 0.4vw;
            }
            img{
                width: 2.5vw;
                height: 2.5vw;
                border-radius: 2vw;
            }
        }

        .rightSide{
            button{
                background-color: rgb(202, 0, 0);

                border: none;
                border-radius: 0.3vw;
                
                font-size: 0.9vw;

                align-items: center;
                justify-content: center;
                height: 2.4vw;
                width: 7.4vw;
                
                color: white;
                font-weight: bold;

                cursor: pointer;
            }
        }
        .alrSubscribe{
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
            button{
                background-color: rgb(46, 46, 46);
                color: gray;
            }
    
            img{
                margin-left: 0.7vw;
                margin-right: 0.2vw;
    
                width: 2vw;
                height: 2vw;
    
                opacity: 50%;
            }
        }
    }

    .playlistVids{
        margin-left: 3vw;
        margin-top: 2vw;

        width: 80%;

        .footer{
            width: 100%;
            height: 20px;
            // background-color: red;
        }

        .filtering{
            padding-left: 10px;
            width: 100%;
            // background-color: red;
    
            div{
                flex-direction: row;
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
    
            .filterDate, .filterType{
                // background-color:blue;
                width: 10%;
    
                margin-right: 40px;
                hr{
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid white;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
                flex-direction: column;
    
                button{
                    cursor: pointer;
                    border: none;
                    color: white;
                    margin-bottom: 10px;
                }
            }
        }


        a{
            img{
                width: 8vw;
                height: 4vw;
            }
        }

        .videoDetail{
            // background-color: blue;
            flex-direction: row;
            align-items: start;
            justify-content: start;
            width: 100%;

            padding: 10px;

            &:hover{
                cursor: pointer;
                background-color: rgb(32, 32, 32);

                .videoText{
                    background-color: rgb(32, 32, 32); 
                }

                div{
                    background-color: rgb(32, 32, 32);
                }

                .details{
                    background-color: rgb(32, 32, 32);
                }

                .desc{
                    background-color: rgb(32, 32, 32);
                }
            }

            // margin-bottom: 1.5vw;
    
            &:focus{
                outline: none;
            }
    
            img{
                width: 200px;
                height: 100px;
            }
            
            .videoText{
                margin-left: 20px;
                flex-direction: column;
                font-size: 1.1vw;
                width: 100%;

                .top{
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-between;
                    img{
                        width: 20px;
                        height: 20px;
                        margin-right: 100px;
                        cursor: pointer;
                    }
                }
    
                div{
                    &:active{
                        outline: none;
                    }
                }
                
    
                .details{
                    margin-top: 5px;
                    font-size: 0.9vw;
                    color: rgb(180, 180, 180);
    
                    &:active{
                        outline: none;
                    }
                }
                
                .desc{
                    margin-top: 15px;
                    font-size: 0.9vw;
                    color: rgb(180, 180, 180);
                }
            }
    
        }
    }
}