<div id="container">
    <div class="playlistInfo">
        <div class="thumbnail">
            <img src="{{ thumbnail }}" alt="">
        </div>
        <div class="title">{{ playlist.playlist_title }}</div>
        <div class="infos">{{ videoCount }} video . {{ playlist.playlist_views }}x watched . Last updated {{ playlist.playlist_day }} {{ getMonth(playlist.playlist_month) }} {{ playlist.playlist_year }}</div>
        <div class="buttons">
            <button>
                <img src="../../assets/share_icon.png" alt="">
            </button>
        </div>
        <div class="playlistDesc">{{ playlist.playlist_desc }}</div>
        <hr>
        <div class="bottomInfo">
            <div class="channelInfo" routerLink="/channel/{{ playlistChannel.channel_id }}">
                <img src="{{ playlistChannel.channel_icon }}" alt="">
                <div class="chName">
                    {{ playlistChannel.channel_name }}
                </div>
            </div>

            <div class="rightSide" *ngIf="isSame==false">
                <div class="subscribeButton" *ngIf="isSubscribed == false">
                    <button (click)="subscribe()">
                        SUBSCRIBE
                    </button>
                </div>
                <div class="alrSubscribe" *ngIf="isSubscribed">
                    <button (click)="subscribe()">
                        SUBSCRIBED
                    </button>

                    <img src="../../assets/subscribed_logo.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="playlistVids">
        <div class="filtering">
            <div>
                <img src="../../assets/filter_search.png" alt="">
                FILTER
            </div>
            <div class="f">
                <div class="filterDate">
                    <hr>
                    <button (click)="filter(1)">Most Popular</button>
                    <button (click)="filter(2)">Published Date</button>
                    <button (click)="filter(3)">Date Added</button>
                </div>
            </div>
        </div>
        <!-- <div class="videoDetail" routerLink="/video/{{ video.video_id }}" *ngFor="let video of videos" (click)="addViews()">
            <img src="{{ video.video_thumbnail }}" alt="" 
            routerLink="/video/{{ video.video_id }}" (click)="addViews()">
            <div class="videoText">
                <div routerLink="/video/{{ video.video_id }}" (click)="addViews()">{{ video.video_title }}</div>
                <div class="details" routerLink="/channel/{{ video.channel_id }}"> {{ video.channel_name }} . {{ getViews(video.video_views) }} views . {{ getDay(video.day, video.month, video.year) }} </div>
                <div class="desc">{{ video.video_description }}</div>
            </div>
        </div> -->
        <div class="videoSection">
            <div *ngFor="let video of videos, let i = index">
                <div class="videoDetail" routerLink="/video/{{ video.video_id }}" *ngIf="i<(lastKey)">
                    <img src="{{ video.video_thumbnail }}" alt="" 
                    routerLink="/video/{{ video.video_id }}">
                    <div class="videoText">
                        <div routerLink="/video/{{ video.video_id }}">{{ video.video_title }}</div>
                        <div class="details" routerLink="/channel/{{ video.channel_id }}"> {{ video.channel_name }} . {{ getViews(video.video_views) }} views . {{ getDay(video.day, video.month, video.year) }} </div>
                        <div class="desc">{{ video.video_description }}</div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <a href="/video/{{ v.video_id }}" class="videoDetail" *ngFor="let v of videos" (click)="addViews()">
            <img src="{{ v.video_thumbnail }}" alt="">
            <div class="videoText">
                <div class="vidName">{{ v.video_title }}</div>
                <div class="vidCh">{{ v.channel_name }}</div>
            </div>
        </a> -->

        <div class="footer"></div>
    </div>
</div>