<div id="container">
    <div class="playlistInfo">
        <div class="thumbnail">
            <img src="{{ thumbnail }}" alt="">
        </div>
        <div class="title">{{ playlist.playlist_title }}</div>
        <div class="infos">{{ videoCount }} video . {{ playlist.playlist_views }}x watched . Last updated {{ playlist.playlist_day }} {{ getMonth(playlist.playlist_month) }} {{ playlist.playlist_year }}</div>
        <div class="buttons">
            <button>
                <img src="../../assets/share_icon.png" alt="">
            </button>
        </div>
        <div class="playlistDesc">{{ playlist.playlist_desc }}</div>
        <hr>
        <div class="bottomInfo">
            <div class="channelInfo">
                <img src="{{ playlistChannel.channel_icon }}" alt="">
                <div class="chName">
                    {{ playlistChannel.channel_name }}
                </div>
            </div>

            <div class="rightSide">
                <div class="subscribeButton" *ngIf="isSubscribed == false">
                    <button (click)="subscribe()">
                        SUBSCRIBE
                    </button>
                </div>
                <div class="alrSubscribe" *ngIf="isSubscribed">
                    <button (click)="subscribe()">
                        SUBSCRIBED
                    </button>

                    <img src="../../assets/subscribed_logo.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="playlistVids">
        <a href="/video/{{ v.video_id }}" class="videoDetail" *ngFor="let v of videos" (click)="addViews()">
            <img src="{{ v.video_thumbnail }}" alt="">
            <div class="videoText">
                <div class="vidName">{{ v.video_title }}</div>
                <div class="vidCh">{{ v.channel_name }}</div>
                </div>
        </a>
    </div>
</div>