*{
    display: flex;

    margin: 0;
    padding: 0;

    flex-direction: column;

    box-sizing: border-box;

    background-color: black;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    
    color: white;

    margin-top: 55px;
    margin-left: 72px;

    font-family: Arial, Helvetica, sans-serif;

    overflow-y: scroll;
    overflow-x: hidden;

    a{
        text-decoration: none;
        color: white;
    }

    .content{
        margin-left: 1vw;
        font-weight: bold;
        font-size: 1.3vw;
        flex-direction: column;
        margin-top: 1vw;
        
        width: auto;

        .videoSection{
            margin: 0;
            margin-top: 1vw;
            
            display: flex;
            
            flex-direction: row;

            flex-wrap: wrap;

            // background-color: green;

        }

        .videoDetail{
            flex-direction: column;


            // background-color: blue;

            width: 22vw;
            
            margin-right: 0.8vw;

            margin-top: 1vw;

            .image{
                position: relative;
                text-align: center;

                font-weight: normal;
                font-size: 1vw;

                height: 12vw;

                .duration{
                    width: 40px;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;

                    background-color: black;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    padding: 0 2px;
                    border-radius: 2px;
                    opacity: 80%;
                }

                .premium-vid{
                    width: 65px;
                    position: absolute;
                    top: 10px;
                    left: 10px;

                    background-color: rgb(48, 129, 235);
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    padding: 2px 2px;
                    border-radius: 2px;

                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: 10px;
                        height: 10px;
                        margin-right: 3px;
                        background-color: rgb(48, 129, 235);
                    }
                }
            }
    
            &:focus{
                outline: none;
            }
    
            img{
                width: 100%;
                height: 100%;

                &:hover{
                    cursor: pointer;
                }
            }
            
            .videos{
                // margin-top: 0.7vw;
                flex-direction: row;
                font-size: 1vw;

                align-items: start;
                justify-content: start;

                width: 100%;

                // background-color: red;

                // a{
                //     background-color: blue;
                // }

                .ch{
                    margin-top: 0.7vw;
                }


                img{
                    width: 2.5vw;
                    height: 2.5vw;
                    border-radius: 1.7vw;
                }

                .channelName{
                    margin-top: 0.5vw;
                    font-size: 0.8vw;
                    color: rgb(180, 180, 180);

                    &:hover{
                        cursor: pointer;
                    }

                    &:active{
                        outline: none;
                    }
                }
                
                .videoText{
                    margin-top: 1vw;
                    flex-direction: column;
                    margin-left: 1vw;

                    // background-color: white;

                    width: 100%;


                    .topText{
                        padding-bottom: 0.2vw;
                        width: 100%;
                        // background-color: red;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: start;

                        a{
                            
                            width: 90%;

                        }

                        img{
                            padding: 0;
                            width: 0.5vw;
                            height: 1.1vw;
                        }
                    }
                }
    
                .details{
                    font-size: 0.8vw;
                    color: rgb(180, 180, 180);
                }
            }
    
        }
        

    }

    .footer{
        width: 100%;
        height: 20px;
        background-color: black;
    }

    .modal {
        align-items: center;
        justify-content: center;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
     
        
        
        .modal-content{
            background-color: rgb(61, 61, 61);
            margin: 15% auto;
            padding: 20px;
            width: 50%;

            align-items: center;
            justify-content: center;

            // opacity: 70%;

            input{
                color: white;
            }
            

            button{
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: rgb(61, 61, 61); 
                color: white;

                border: none;

                width: 15vw;
                height: 3vw;

                cursor: pointer;

                &:hover{
                    background-color: rgb(43, 43, 43); 

                    img, li{
                        background-color: rgb(43, 43, 43); 
                    }
                }

                img{
                    width: 3vw;
                    height: 3vw;
                    background-color: rgb(61, 61, 61);
                }

                li{
                    background-color: rgb(61, 61, 61);
                }
            }

            .close{
                color: white;
                background-color: rgb(61, 61, 61);
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

}