<div id="container">
    <div class="content">
        Recommended
        <div class="videoSection">
            <div class="videoDetail">
                <video routerLink="/video">
                <source src="../../assets/vid.mp4" type="video/mp4">
                </video>
                <div class="videos">
                    <img src="../../assets/user_logo.png" alt="">
                    <div class="videoText">
                        <div>CRAVITY 크래비티 'Cloud 9' MV</div>
                        <div class="channelName" routerLink="/channel">starshipTV</div>
                        <div class="details">11m . 3 weeks ago</div>
                    </div>
                </div>
            </div>

            <div class="videoDetail">
                <video routerLink="/video">
                <source src="../../assets/vid.mp4" type="video/mp4">
                </video>
                <div class="videos">
                    <img src="../../assets/user_logo.png" alt="">
                    <div class="videoText">
                        <div>Video Name</div>
                        <div class="channelName">Channel Name</div>
                        <div class="details">Views . Date</div>
                    </div>
                </div>
            </div>

            <div class="videoDetail">
                <video routerLink="/video">
                <source src="../../assets/vid.mp4" type="video/mp4">
                </video>
                <div class="videos">
                    <img src="../../assets/user_logo.png" alt="">
                    <div class="videoText">
                        <div>Video Name</div>
                        <div class="channelName">Channel Name</div>
                        <div class="details">Views . Date</div>
                    </div>
                </div>
            </div>

            <div class="videoDetail">
                <video routerLink="/video">
                <source src="../../assets/vid.mp4" type="video/mp4">
                </video>
                <div class="videos">
                    <img src="../../assets/user_logo.png" alt="">
                    <div class="videoText">
                        <div>Video Name</div>
                        <div class="channelName">Channel Name</div>
                        <div class="details">Views . Date</div>
                    </div>
                </div>
            </div>

            <div class="videoDetail">
                <video routerLink="/video">
                <source src="../../assets/vid.mp4" type="video/mp4">
                </video>
                <div class="videos">
                    <img src="../../assets/user_logo.png" alt="">
                    <div class="videoText">
                        <div></div>
                        <div class="channelName">Channel Name</div>
                        <div class="details">Views . Date</div>
                    </div>
                </div>
            </div>

            <div class="videoDetail">
                <video routerLink="/video">
                <source src="../../assets/vid.mp4" type="video/mp4">
                </video>
                <div class="videos">
                    <img src="../../assets/user_logo.png" alt="">
                    <div class="videoText">
                        <div>Video Name</div>
                        <div class="channelName">Channel Name</div>
                        <div class="details">Views . Date</div>
                    </div>
                </div>
            </div>

            <div class="videoDetail">
                <video routerLink="/video">
                <source src="../../assets/vid.mp4" type="video/mp4">
                </video>
                <div class="videos">
                    <img src="../../assets/user_logo.png" alt="">
                    <div class="videoText">
                        <div>Video Name</div>
                        <div class="channelName">Channel Name</div>
                        <div class="details">Views . Date</div>
                    </div>
                </div>
            </div>
            
            <div class="videoDetail">
                <video routerLink="/video">
                <source src="../../assets/vid.mp4" type="video/mp4">
                </video>
                <div class="videos">
                    <img src="../../assets/user_logo.png" alt="">
                    <div class="videoText">
                        <div>Video Name</div>
                        <div class="channelName">Channel Name</div>
                        <div class="details">Views . Date</div>
                    </div>
                </div>
            </div>

            <div class="videoDetail">
                <video routerLink="/video">
                <source src="../../assets/vid.mp4" type="video/mp4">
                </video>
                <div class="videos">
                    <img src="../../assets/user_logo.png" alt="">
                    <div class="videoText">
                        <div>Video Name</div>
                        <div class="channelName">Channel Name</div>
                        <div class="details">Views . Date</div>
                    </div>
                </div>
            </div>

            <div class="videoDetail">
                <video routerLink="/video">
                <source src="../../assets/vid.mp4" type="video/mp4">
                </video>
                <div class="videos">
                    <img src="../../assets/user_logo.png" alt="">
                    <div class="videoText">
                        <div>Video Name</div>
                        <div class="channelName">Channel Name</div>
                        <div class="details">Views . Date</div>
                    </div>
                </div>
            </div>

            <div class="videoDetail">
                <video routerLink="/video">
                <source src="../../assets/vid.mp4" type="video/mp4">
                </video>
                <div class="videos">
                    <img src="../../assets/user_logo.png" alt="">
                    <div class="videoText">
                        <div>Video Name</div>
                        <div class="channelName">Channel Name</div>
                        <div class="details">Views . Date</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>