*{
    display: flex;

    margin: 0;
    padding: 0;

    flex-direction: column;

    box-sizing: border-box;

    background-color: black;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    
    color: white;

    margin-top: 3.6vw;
    margin-left: 4.7vw;
    
    width: 95.3%;
    overflow-y: hidden;

    font-family: Arial, Helvetica, sans-serif;

    a{
        text-decoration: none;
        color: white;
    }

    .content{
        margin-left: 2vw;
        font-weight: bold;
        font-size: 1.3vw;
        flex-direction: column;
        margin-top: 1vw;

        // overflow-y: scroll;

        overflow-x: hidden;

        .videoSection{
            margin-top: 1vw;
            display: flex;
            flex-direction: row;


            flex-wrap: wrap;
        }

        .videoDetail{
            flex-direction: column;
            width: 20%;
            
            margin-right: 4vw;

            margin-top: 1vw;

            .image{
                position: relative;
                text-align: center;

                font-weight: normal;
                font-size: 1vw;

                .duration{
                    position: absolute;
                    bottom: 0vw;
                    left: 17.8vw;

                    background-color: transparent;
                }
            }
    
            &:focus{
                outline: none;
            }
    
            img{
                width: 20vw;
                height: 11vw;

                &:hover{
                    cursor: pointer;
                }
            }
            
            .videos{
                margin-top: 0.7vw;
                flex-direction: row;
                font-size: 1vw;

                align-items: start;
                justify-content: start;


                img{
                    width: 2.5vw;
                    height: 2.5vw;
                    border-radius: 1.7vw;
                }

                .channelName{
                    margin-top: 0.5vw;
                    font-size: 0.8vw;
                    color: rgb(180, 180, 180);

                    &:hover{
                        cursor: pointer;
                    }

                    &:active{
                        outline: none;
                    }
                }
                
                .videoText{
                    flex-direction: column;
                    margin-left: 1vw;

                    .topText{
                        width: 16.4vw;
                        // background-color: red;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        img{
                            width: 0.5vw;
                            height: 1.1vw;
                        }
                    }
                }
    
                .details{
                    font-size: 0.8vw;
                    color: rgb(180, 180, 180);
                }
            }
    
        }
        

    }

    .modal {
        align-items: center;
        justify-content: center;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
     
        
        
        .modal-content{
            background-color: rgb(61, 61, 61);
            margin: 15% auto;
            padding: 20px;
            width: 50%;

            align-items: center;
            justify-content: center;

            // opacity: 70%;

            input{
                color: white;
            }
            

            button{
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: rgb(61, 61, 61); 
                color: white;

                border: none;

                width: 15vw;
                height: 3vw;

                cursor: pointer;

                &:hover{
                    background-color: rgb(43, 43, 43); 

                    img, li{
                        background-color: rgb(43, 43, 43); 
                    }
                }

                img{
                    width: 3vw;
                    height: 3vw;
                    background-color: rgb(61, 61, 61);
                }

                li{
                    background-color: rgb(61, 61, 61);
                }
            }

            .close{
                color: white;
                background-color: rgb(61, 61, 61);
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

}