*{
    display: flex;

    margin: 0;
    padding: 0;

    flex-direction: column;

    box-sizing: border-box;

    background-color: black;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    align-items: center;
    
    color: white;

    margin-top: 55px;
    margin-left: 72px;
    
    width: 95.3%;
    overflow-y: scroll;

    .guest{
        @extend #container;
    }

    .content{
        width: 85%;
        height: 90%;
        // background-color: white;
        align-items: center;

        .not-premium{
            align-items: center;
            background-color: white;

            width: 100%;
            height: 100%;
        }

        .premium{
            align-items: center;
            background-color: white;

            width: 100%;
            height: 100%;

            // font-weight: bold;

            .plan, .act, .extra{
                background-color: white;
                color: black;
            }

            .plan{
                font-size: 1.5em;
                margin-top: 20px;
                margin-bottom: 40px;
            }

            .act{
                font-size: 2.6em;
            }

            .extra{
                margin-top: 100px;
                font-size: 4em;
            }
        }

        img{
            margin-top: 5vw;
            background-color: white;
            width: 25vw;
            height: 5vw;
        }

        .desc{
            margin-top: 3vw;
            width: 45%;
            text-align: center;
            background-color: white;
            color: black;
            font-size: 2vw;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
            line-height: 30px;
        }
        
        .options{
            margin-top: 1.5vw;
            flex-direction: row;
            color: black;
            width: 45%;
            height: 40%;

            background-color: white;


            justify-content: space-between;

            .annual{
                align-items: center;
                background-color: white;
                width: 40%;
                
                border: 1px solid black;

                font-family: Arial, Helvetica, sans-serif;

                .topText{
                    margin-top: 1vw;
                    background-color: white;
                    font-size: 2vw;
                    font-weight: bold;
                    color: rgb(189, 58, 58);
                }

                .nominal{
                    margin-top: 2vw;
                    background-color: white;
                    font-size: 2.2vw;
                    font-weight: bold;
                }

                font-size: 0.9vw;

                .cancel{
                    margin-top: 1vw;
                    background-color: white;
                    font-weight: bold;
                    color: gray;
                }
            }

            .month{
                align-items: center;
                background-color: white;
                width: 40%;
                
                border: 1px solid black;
                @extend .annual;
            }

            button{
                margin-top: 1.6vw;
                border: none;
                background-color: red;
                color: white;
                width: 8vw;
                height: 1.8vw;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                font-family: Arial, Helvetica, sans-serif;

                &:hover{
                    cursor: pointer;
                }
            }

        }
    

        .modal {
            align-items: center;
            justify-content: center;
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
         
            
            
            .modal-content{
                background-color: white;
                margin: 15% auto;
                padding: 20px;
                width: 30%;

    
                align-items: center;
                justify-content: center;

                .monthly, .annually{
                    margin: none;
                    align-items: center;
                    width: 80%;

                    background-color: white;

                    font-family: Arial, Helvetica, sans-serif;

                    .image{
                        margin: 0;
                        padding: 0;

                        img{
                            
                            margin: 0;
                        }
                    }

                    .buttons{
                        justify-content: center;
                        align-items: center;
                        // background-color: blue;
                        flex-direction: row;
                        // width: 80%;
                        width: 30%;

                        div{
                            margin-left: 10px;
                            margin-right: 10px;
                        }

                        .yes{
                            background-color: rgb(250, 62, 62);
                        }

                        .cancel{
                            background-color: gray;
                        }
                        
                        button{
                            // margin-top: 5px;
                            border: none;
                            cursor: pointer;

                            width: 80px;
                            height: 30px;

                            align-items: center;
                            justify-content: center;

                            color: white;
                            
                            border-radius: 2px;

                            font-size: 1em;


                            // background-color: red;

                            // margin-left: 20px;
                        }
                    }

                    .price{
                        font-size: 1.2em;
                        font-weight: bold;
                    }

                    .active{
                        margin-bottom: 20px;
                    }

                    .conf{
                        font-size: 1.5em;
                        font-weight: bold;

                        margin: none;
                        color: black;
                        background-color: white;
                    }

                    div{
                        color: black;
                        background-color: white;
                    }
                    
                   
                }
                           
    
                
    
                .close{
                    color: black;
                    background-color: white;
                    float: right;
                    font-size: 28px;

                    margin-left: 400px;

                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

    }
}