<div id="container">
    <div class="content">
        <img src="../../assets/youtube_premium_icon.png" alt="">
        <div class="desc">YouTube and YouTube Music ad-free, offline, and in the background</div>
        <div class="options">
            <div class="annual">
                <div class="topText">
                    Annually
                </div>
                <div class="nominal">
                    Rp.550.000
                </div>
                per year.
                <div class="cancel">
                    Cancel anytime.
                </div>
                <button>
                    Join Membership
                </button>
                
            </div>

            <div class="month">
                <div class="topText">
                    Monthly
                </div>
                <div class="nominal">
                    Rp.49.999
                </div>
                per month.
                <div class="cancel">
                    Cancel anytime.
                </div>
                <button>
                    Join Membership
                </button>
                
            </div>
        </div>
    </div>
</div>