*{
    display: flex;

    margin: 0;
    padding: 0;

    flex-direction: column;

    box-sizing: border-box;

    background-color: black;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    align-items: center;
    
    color: white;

    margin-top: 3.6vw;
    margin-left: 4.7vw;
    
    width: 95.3%;
    overflow-y: scroll;


    .guest{
        @extend #container;
    }

    .content{
        width: 85%;
        height: 90%;
        background-color: white;
        align-items: center;
        

        img{
            margin-top: 5vw;
            background-color: white;
            width: 25vw;
            height: 5vw;
        }

        .desc{
            margin-top: 3vw;
            width: 45%;
            text-align: center;
            background-color: white;
            color: black;
            font-size: 2vw;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
        }
        
        .options{
            margin-top: 1.5vw;
            flex-direction: row;
            color: black;
            width: 45%;
            height: 40%;

            background-color: white;


            justify-content: space-between;

            .annual{
                align-items: center;
                background-color: white;
                width: 40%;
                
                border: 1px solid black;

                font-family: Arial, Helvetica, sans-serif;

                .topText{
                    margin-top: 1vw;
                    background-color: white;
                    font-size: 2vw;
                    font-weight: bold;
                    color: rgb(189, 58, 58);
                }

                .nominal{
                    margin-top: 2vw;
                    background-color: white;
                    font-size: 2.2vw;
                    font-weight: bold;
                }

                font-size: 0.9vw;

                .cancel{
                    margin-top: 1vw;
                    background-color: white;
                    font-weight: bold;
                    color: gray;
                }
            }

            .month{
                align-items: center;
                background-color: white;
                width: 40%;
                
                border: 1px solid black;
                @extend .annual;
            }

            button{
                margin-top: 1.6vw;
                border: none;
                background-color: red;
                color: white;
                width: 8vw;
                height: 1.8vw;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                font-family: Arial, Helvetica, sans-serif;

                &:hover{
                    cursor: pointer;
                }
            }
        }

    }
}