<div id="container">
    <div class="mainVideo" *ngIf="video">
        <mat-video class="video" [src]="video.video" 
        [preload]="true" [keyboard]="true" autoplay="true">

        </mat-video>

        <div class="videoDetail">
            <div class="videoName">
                {{ video.video_title }}
            </div>

            <div class="anotherDetail">
                <div>
                    <div class="views">
                        {{ getViewInFormat(video.video_views) }} views
                    </div>
                    <div class="extra">.</div>
                    <div class="date">
                        {{ video.day }} {{ getMonth(video.month) }} {{ video.year }}
                    </div>
                </div>

                <div>
                    <button id="likeButton" (click)="likeVideo()">
                        <img src="../../assets/like_icon.png" alt="" id="likeImg">
                        {{ getLike(video.video_like) }}
                    </button>

                    <button id="dislikeButton" (click)="dislikeVideo()">
                        <img src="../../assets/dislike_icon.png" alt="" id="dislikeImg">
                        {{ getLike(video.video_dislike) }}
                    </button>

                    <button class="shareButton">
                        <img src="../../assets/share_icon.png" alt="">
                        SHARE
                    </button>

                    <button class="addPlaylistButton">
                        <img src="../../assets/add_playlist_icon.png" alt="">
                        SAVE
                    </button>
                </div>
            </div>

            <hr>

            <div class="youtubeChannel">

                
                <div class="leftSide">
                    <img class="icon" src="{{ channel.channel_icon }}" alt="">

                    <div>
                        <div class="chnName">
                            {{ channel.channel_name }}
                        </div>
                        <div class="subscriberCount">
                            {{ getViews(channel.channel_subscribers) }} subscriber
                        </div>
                        <div class="vidDesc">
                            {{ video.video_description }}
                        </div>
                    </div>
                </div>

                <div class="rightSide">
                    <div class="subscribeButton">
                        <button>
                            SUBSCRIBE
                        </button>
                    </div>
                </div>
            </div>

            <hr>
        </div>

        <div class="commentSection">
            Comment Section
            <div class="userComment">
                <img [src]="userThumbnail" alt="">
                asd
            </div>
        </div>
        <div class="bottom"></div>
    </div>

    <div class="relatedVideo">
        Related Video
        <a href="/video/{{ v.video_id }}" class="videoDetail" *ngFor="let v of videos">
            <img src="{{ v.video_thumbnail }}" alt="">
            <div class="videoText">
                <div>{{ v.video_title }}</div>
                <a href="/channel/{{ v.channel_id }}" class="channel"> {{ v.channel_name }} </a>
                <div class="details">{{ getViews(v.video_views) }} views . {{ v.day }} {{ getMonth(v.month) }} {{ v.year }}</div>
            </div>
        </a>
    </div>
    
</div>