<div id="container">
    <div class="mainVideo">
        <mat-video class="video" src="../../assets/vid.mp4">

        </mat-video>

        <div class="videoDetail">
            <div class="tags">
                #Tags #Ehe:D
            </div>
            <div class="videoName">
                Video Name
            </div>

            <div class="anotherDetail">
                <div>
                    <div class="views">
                        views
                    </div>
                    <div class="extra">.</div>
                    <div class="date">
                        date
                    </div>
                </div>

                <div>
                    <button class="likeButton">
                        <img src="../../assets/like_icon.png" alt="">
                        ... k
                    </button>

                    <button class="dislikeButton">
                        <img src="../../assets/dislike_icon.png" alt="">
                        ... k
                    </button>

                    <button class="shareButton">
                        <img src="../../assets/share_icon.png" alt="">
                        SHARE
                    </button>

                    <button class="addPlaylistButton">
                        <img src="../../assets/add_playlist_icon.png" alt="">
                        SAVE
                    </button>
                </div>
            </div>

            <hr>

            <div class="youtubeChannel">

                
                <div class="leftSide">
                    <img class="icon" src="../../assets/user_logo.png" alt="">

                    <div>
                        <div class="chnName">
                            Channel Name
                        </div>
                        <div class="subscriberCount">
                            .... k subscriber
                        </div>
                        <div class="vidDesc">
                            (Video Desc) Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quis similique beatae, sed culpa est, vitae, incidunt dolorem voluptatibus ratione quo quisquam! Voluptatem, magnam impedit molestias distinctio quae quisquam in!
                        </div>
                    </div>
                </div>

                <div class="rightSide">
                    <div class="subscribeButton">
                        <button>
                            SUBSCRIBE
                        </button>
                    </div>
                    
                    <!-- <div class="alrSubscribe">
                        <button>
                            SUBSCRIBED
                        </button>

                        <img src="../../assets/subscribed_logo.png" alt="">
                    </div> -->
                </div>
            </div>

            <hr>
        </div>

        <div class="commentSection">
            Comment Section
        </div>
        <div class="bottom"></div>
    </div>

    <div class="relatedVideo">
        Related Video
        <div class="videoDetail" routerLink="/video">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="channel">Channel</div>
                <div class="details">Views . Date</div>
            </div>
        </div>

        <div class="videoDetail" routerLink="/video">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="channel">Channel</div>
                <div class="details">Views . Date</div>
            </div>
        </div>

        <div class="videoDetail" routerLink="/video">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="channel">Channel</div>
                <div class="details">Views . Date</div>
            </div>
        </div>

        <div class="videoDetail" routerLink="/video">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="channel">Channel</div>
                <div class="details">Views . Date</div>
            </div>
        </div>

        <div class="videoDetail" routerLink="/video">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="channel">Channel</div>
                <div class="details">Views . Date</div>
            </div>
        </div>

        <div class="videoDetail" routerLink="/video">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="channel">Channel</div>
                <div class="details">Views . Date</div>
            </div>
        </div>

        <div class="videoDetail" routerLink="/video">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="channel">Channel</div>
                <div class="details">Views . Date</div>
            </div>
        </div>

        <div class="videoDetail" routerLink="/video">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="channel">Channel</div>
                <div class="details">Views . Date</div>
            </div>
        </div>

        <div class="videoDetail" routerLink="/video">
            <video >
            <source src="../../assets/vid.mp4" type="video/mp4">
            </video>
            <div class="videoText">
                <div>Video Name</div>
                <div class="channel">Channel</div>
                <div class="details">Views . Date</div>
            </div>
        </div>
    </div>
    
</div>